openapi: 3.2.0
info:
  version: 1.37.0
  title: Harver Public Webhook API
  description: Public API of the Harver Platform available only for the Customers of Harver.
  contact:
    name: Harver Support Team
    email: support@harver.com
    url: https://support.harver.com
servers:
- url: https://api.harver.com/api/v1.0/
  description: Production Server
tags:
- name: Webhook
paths:
  /webhookPath:
    servers:
    - url: https://baseURL.com/
      description: Given endpoint
    post:
      summary: Trigger webhook for the given client URL
      description: 'Harver dev team can configure the webhooks for you


        _Available events_


        - ApplicationStarted - A candidate registered at Harver. (Candidate Status: in-progress)

        - PersonalInfoWasCreated - A candidate filled in the “Personal information” module. (Candidate Status: in-progress)

        - AdditionalInfoWasUpdated - A candidate filled in the “Additional information” module. (Candidate Status: in-progress)

        - CandidateStatusNew - A candidate completed the Harver Journey. (Candidate Status = new)'
      tags:
      - Webhook
      callbacks:
        harverEvents:
          /{webhookPath}:
            post:
              summary: Triggered webhook body
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      type: object
                      additionalProperties: false
                      required:
                      - triggeredAt
                      - event
                      - data
                      properties:
                        triggeredAt:
                          type: number
                          example: 123238983298
                        event:
                          type: string
                          example: ApplicationStarted
                          enum:
                          - ApplicationStarted
                          - PersonalInfoWasCreated
                          - AdditionalInfoWasUpdated
                          - CandidateStatusNew
                        data:
                          properties:
                            type:
                              type: string
                              example: applications
                            id:
                              type: string
                              example: 60dedb8d4bb3ca0009ff9dcd
                            attributes:
                              properties:
                                status:
                                  type: string
                                  example: in-progress
                                  enum:
                                  - in-progress
                                  - new
                        relationships:
                          properties:
                            account:
                              properties:
                                data:
                                  properties:
                                    type:
                                      type: string
                                      example: account
                                    id:
                                      type: string
                                      example: 60ca01c2d70c100006122053
              responses:
                '200':
                  description: Response from the client
      responses:
        '200':
          description: Response from the client
      operationId: postWebhookPath
      x-operation-id-source: derived
