openapi: 3.2.0
info:
  version: 1.37.0
  title: Harver Public Scheduling API
  description: Public API of the Harver Platform available only for the Customers of Harver.
  contact:
    name: Harver Support Team
    email: support@harver.com
    url: https://support.harver.com
servers:
- url: https://api.harver.com/api/v1.0/
  description: Production Server
tags:
- name: Scheduling
paths:
  /scheduling/{accountId}:
    post:
      deprecated: true
      summary: Schedule an interview and retrieve the scheduling link
      tags:
      - Scheduling
      parameters:
      - in: path
        name: accountId
        schema:
          type: string
        required: true
        description: ID of the Account to consider
      requestBody:
        description: Interview details that needs to be added for scheduling an interview
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - scheduling
                    attributes:
                      properties:
                        interviewerIds:
                          type: array
                          items:
                            type: string
                        requiredNumberOfInterviewers:
                          oneOf:
                          - type: string
                          - type: integer
                        interviewDuration:
                          type: integer
                        interviewWithinDays:
                          type: integer
                        timezoneId:
                          type: string
      responses:
        '200':
          description: Scheduling link generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        example: scheduling
                      attributes:
                        type: object
                        properties:
                          noOfAvailableSlots:
                            type: integer
                            format: int32
                          schedulingLink:
                            type: string
      operationId: postSchedulingByAccountId
      x-operation-id-source: derived
  /scheduling/{accountId}/interview-details/{candidateId}:
    get:
      deprecated: true
      summary: Returns the details of an Interview
      tags:
      - Scheduling
      parameters:
      - in: path
        name: accountId
        schema:
          type: string
        required: true
        description: ID of the Account to consider
      - in: path
        name: candidateId
        schema:
          type: string
        required: true
        description: ID of the Candidate to consider
      responses:
        '200':
          description: Returns the details of the Interview
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        example: interview-details
                      id:
                        type: string
                      attributes:
                        type: object
                        properties:
                          candidateId:
                            type: string
                          scheduleId:
                            type: string
                          scheduledBy:
                            type: string
                          schedulingLink:
                            type: string
                          interviewers:
                            type: array
                            items:
                              type: string
                          interviewerIds:
                            type: array
                            items:
                              type: string
                          requiredNumberOfInterviewers:
                            type: string
                          interviewDuration:
                            type: integer
                            format: int32
                          interviewWithinDays:
                            type: integer
                            format: int32
                          timezoneId:
                            type: string
                          location:
                            type: string
                          status:
                            type: string
                          createdAt:
                            type: string
                          startTime:
                            type: string
                          endTime:
                            type: string
      operationId: getSchedulingByAccountIdInterviewDetailsByCandidateId
      x-operation-id-source: derived
