openapi: 3.2.0
info:
  version: 1.37.0
  title: Harver Public User Profile API
  description: Public API of the Harver Platform available only for the Customers of Harver.
  contact:
    name: Harver Support Team
    email: support@harver.com
    url: https://support.harver.com
servers:
- url: https://api.harver.com/api/v1.0/
  description: Production Server
tags:
- name: User Profile
paths:
  /me:
    get:
      summary: Returns the User profile details
      description: This endpoint returns the profile details of the currently authenticated user. No parameters are required; the user is resolved from the access token used in the request.
      tags:
      - User Profile
      responses:
        '200':
          description: User profile details
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                minProperties: 2
                properties:
                  data:
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        example: users
                      attributes:
                        properties:
                          firstName:
                            type: string
                          lastName:
                            type: string
                          address:
                            type: string
                          phoneNumber:
                            type: string
                          profilePicture:
                            type: string
                          registeredAt:
                            type: integer
                            format: int64
                          lastUpdatedAt:
                            type: integer
                            format: int64
      operationId: getMe
      x-operation-id-source: derived
  /me/notifications/devices:
    post:
      summary: Manages push notifications of devices
      description: This endpoint enables or disables push notifications for one or more of the authenticated user's devices. The `deviceId` is the unique device identifier obtained when registering the device with the push notification provider (for example, the registration token returned by the provider's SDK on the device). The `platform` identifies that push notification provider; currently only `fcm` (Firebase Cloud Messaging) is supported.
      tags:
      - User Profile
      requestBody:
        description: Device details and the push notification status
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        example: notified-device
                      attributes:
                        type: object
                        properties:
                          deviceId:
                            type: string
                          enabled:
                            type: boolean
                          platform:
                            type: string
                            enum:
                            - fcm
      responses:
        '204':
          description: The push notification status of device saved successfully
        '404':
          description: User not found/ device configuration not found
        '409':
          description: Error trying to disable device status. Probably it's already disabled
      operationId: postMeNotificationsDevices
      x-operation-id-source: derived
  /me/notifications:
    patch:
      summary: Manages push notification types of devices
      tags:
      - User Profile
      requestBody:
        description: Push notification type status
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        example: notification-type
                      attributes:
                        type: object
                        properties:
                          notificationType:
                            type: string
                            enum:
                            - daily-summary
                          enabled:
                            type: boolean
      responses:
        '204':
          description: The status of push notification type saved successfully
      operationId: patchMeNotifications
      x-operation-id-source: derived
