openapi: 3.2.0
info:
  version: 1.37.0
  title: Harver Public Vacancies API
  description: Public API of the Harver Platform available only for the Customers of Harver.
  contact:
    name: Harver Support Team
    email: support@harver.com
    url: https://support.harver.com
servers:
- url: https://api.harver.com/api/v1.0/
  description: Production Server
tags:
- name: Vacancies
paths:
  /vacancies/{vacancyId}/candidates:
    get:
      summary: Returns all Candidates of a Vacancy
      description: 'To obtain the list of Candidates and their Applications, perform a `GET` operation to the `/vacancies//candidates` endpoint.

        ### Limiting results

        Optionally, to limit the scope of the results, you can use the following query parameters:

        - `filter[status]`

        - `filter[status-updated-at][since]`

        - `filter[status-updated-at][until]`

        - `filter[locations]`

        - `filter[region]`

        - `filter[external_location_id]`

        - `filter[job_function]`


        For filtering by locations, regions, external location ID and job function, comma separated values can be used. Ex: `?filter[locations]={ID1},{ID2}`

        #### Example query:

        To fetch all candidates of vacancy `5ac774c431e881242fa7164b` that have been in status `new`, you would call the following endpoint:


        curl -X GET \

        ''https://api.harver.com/api/v1.0/vacancies/5ac774c431e881242fa7164b/candidates?filter[status]=new'' \

        -H ''Authorization: Bearer ...''

        To fetch all candidates of vacancy `5ac774c431e881242fa7164b` that have been in status `new` since at least `April 1st, 2018`, you would call the following endpoint:


        curl -X GET \

        ''https://api.harver.com/api/v1.0/vacancies/5ac774c431e881242fa7164b/candidates?filter[status]=new&filter[status-updated-at][since]=1522540800'' \

        -H ''Authorization: Bearer ...''

        To fetch all candidates of vacancy `5ac774c431e881242fa7164b` and filter by locations `5c41a7db42dd2c4d3a34cfd2` and `5c484fdece609b10529e1e3f`, you would call the following endpoint:


        curl -X GET \

        ''https://api.harver.com/api/v1.0/vacancies/5ac774c431e881242fa7164b/candidates?filter[locations]=5c41a7db42dd2c4d3a34cfd2,5c484fdece609b10529e1e3f'' \

        -H ''Authorization: Bearer ...''

        To fetch all candidates of vacancy `5ac774c431e881242fa7164b` and filter by locations `5c41a7db42dd2c4d3a34cfd2` and `5c484fdece609b10529e1e3f`, region as `5c484f8bce609b10529e1e1b`, external location id as `78945` and job function as `5c484fa8ce609b10529e1e2b`, you would call the following endpoint:


        curl -X GET \

        ''https://api.harver.com/api/v1.0/vacancies/5ac774c431e881242fa7164b/candidates?filter[locations]=5c41a7db42dd2c4d3a34cfd2,5c484fdece609b10529e1e3f&filter[region]=5c484f8bce609b10529e1e1b&filter[external_location_id]=78945&filter[job_function]=5c484fa8ce609b10529e1e2b'' \

        -H ''Authorization: Bearer ...'''
      tags:
      - Vacancies
      parameters:
      - in: path
        name: vacancyId
        schema:
          type: string
        required: true
        description: ID of the Vacancy to consider
      - in: query
        name: filter
        description: The Vacancy filter to apply
        schema:
          type: object
          properties:
            status:
              type: string
              enum:
              - new
              - in-progress
              - rejected
              - invited
              - talent-pool
              - hired
              - shortlisted
              - contract
            status-updated-at:
              properties:
                since:
                  type: integer
                  format: int64
                until:
                  type: integer
                  format: int64
            locations:
              type: string
            region:
              type: string
            external_location_id:
              type: string
            job_function:
              type: string
      responses:
        '200':
          description: An array of Candidates
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                - data
                - included
                properties:
                  data:
                    type: array
                    items:
                      allOf:
                      - allOf:
                        - type: object
                          required:
                          - type
                          - id
                          - attributes
                          properties:
                            type:
                              type: string
                              example: candidates
                            id:
                              type: string
                            attributes:
                              additionalProperties: false
                              required:
                              - emailAddress
                              - fullName
                              - firstName
                              - lastName
                              - language
                              - address
                              - registerdAt
                              properties:
                                emailAddress:
                                  type: string
                                fullName:
                                  type: string
                                firstName:
                                  type: string
                                lastName:
                                  type: string
                                language:
                                  type: string
                                address:
                                  type: string
                                registeredAt:
                                  type: integer
                                  format: int64
                      - type: object
                        required:
                        - relationships
                        properties:
                          relationships:
                            additionalProperties: false
                            required:
                            - application
                            properties:
                              application:
                                additionalProperties: false
                                required:
                                - data
                                properties:
                                  data:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: applications
                                      id:
                                        type: string
                  included:
                    type: array
                    items:
                      allOf:
                      - type: object
                        properties:
                          type:
                            type: string
                            example: applications
                          id:
                            type: string
                          attributes:
                            properties:
                              appliedAt:
                                type: integer
                                format: int64
                              status:
                                type: string
                                enum:
                                - new
                                - in-progress
                                - rejected
                                - invited
                                - talent-pool
                                - hired
                                - shortlisted
                                - contract
                              matchingScore:
                                type: integer
                                format: int32
                                minimum: 0
                                maximum: 100
                              statusUpdatedAt:
                                type: integer
                                format: int64
                              locations:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                    name:
                                      type: string
                                    regionId:
                                      type: string
                                    externalLocationId:
                                      type: string
                                    status:
                                      type: string
                              jobFunctions:
                                type: array
                                items:
                                  properties:
                                    id:
                                      type: string
                                    title:
                                      type: string
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                      new:
                        type: integer
                      in-progress:
                        type: integer
                      rejected:
                        type: integer
                      invited:
                        type: integer
                      talent-pool:
                        type: integer
                      hired:
                        type: integer
                      shortlisted:
                        type: integer
                      contract:
                        type: integer
                      ready-for-grading:
                        type: integer
      operationId: getVacanciesByVacancyIdCandidates
      x-operation-id-source: derived
  /vacancies/{vacancyId}/modules/{moduleId}:
    get:
      summary: Returns the module settings of a Vacancy
      tags:
      - Vacancies
      parameters:
      - in: path
        name: vacancyId
        schema:
          type: string
        required: true
        description: ID of the Vacancy to consider
      - in: path
        name: moduleId
        schema:
          type: string
        required: true
        description: ID of the Module to consider
      responses:
        '200':
          description: The module settings of the Vacancy
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                - data
                properties:
                  data:
                    allOf:
                    - type: object
                      properties:
                        type:
                          type: string
                          example: modules
                        id:
                          type: string
                        attributes:
                          properties:
                            moduleType:
                              type: string
                            settings:
                              oneOf:
                              - type: object
                                properties:
                                  appliedIndicator:
                                    type: string
                                  dimensionSettings:
                                    type: array
                                    items:
                                      properties:
                                        id:
                                          type: string
                                        name:
                                          type: string
                                        targetScore:
                                          type: integer
                                          format: int32
                                        isActive:
                                          type: boolean
                                  competencySettings:
                                    type: array
                                    items:
                                      properties:
                                        id:
                                          type: string
                                        name:
                                          type: string
                                        targetScore:
                                          type: integer
                                          format: int32
                                        isActive:
                                          type: boolean
                                  jobAnalysisSettings:
                                    type: array
                                    items:
                                      allOf:
                                      - properties:
                                          id:
                                            type: string
                                          name:
                                            type: string
                                          targetScore:
                                            type: integer
                                            format: int32
                                          isActive:
                                            type: boolean
                                      - type: object
                                        properties:
                                          scaleLeftSide:
                                            type: string
                                          scaleRightSide:
                                            type: string
                              - type: object
                                properties:
                                  testVersion:
                                    type: string
      operationId: getVacanciesByVacancyIdModulesByModuleId
      x-operation-id-source: derived
  /vacancies/{vacancyId}:
    get:
      summary: Find vacancy by id
      description: '#### Available query parameters:

        - `filter[skip_aggregation]` - Supports `true` or `false`

        - `include` - Supports combination of `locations`, `regions` and `job-functions` as a comma separated single string. Max length 31


        ex : locations,job-functions


        #### Increasing Performance

        `filter[skip_aggregation]=true` will skip aggregating candidate count in a vacancy, resulting in a faster response


        #### Example queries:

        To get the details of locations assigned to a vacancy, you would call the following endpoint:


        curl -X GET \

        ''https://api.harver.com/api/v1.0/vacancies/:vacancyId?include=locations'' \

        -H ''Authorization: Bearer ...''


        To get the details of regions assigned to a vacancy, you would call the following endpoint:


        curl -X GET \

        ''https://api.harver.com/api/v1.0/vacancies/:vacancyId?include=regions'' \

        -H ''Authorization: Bearer ...''


        To get the details of job-functions assigned to a vacancy, you would call the following endpoint:


        curl -X GET \

        ''https://api.harver.com/api/v1.0/vacancies/:vacancyId?include=job-functions'' \

        -H ''Authorization: Bearer ...'''
      tags:
      - Vacancies
      parameters:
      - in: path
        name: vacancyId
        schema:
          type: string
        required: true
        description: ID of the Vacancy to consider
      responses:
        '200':
          description: Returns a single vacancy
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - meta
                    - relationships
                    properties:
                      meta:
                        type: object
                        allOf:
                        - type: object
                          required:
                          - candidates-per-status
                          properties:
                            candidates-per-status:
                              additionalProperties: false
                              required:
                              - new
                              - in-progress
                              - rejected
                              - invited
                              - talent-pool
                              - hired
                              - shortlisted
                              - contract
                              properties:
                                new:
                                  type: integer
                                  format: int32
                                in-progress:
                                  type: integer
                                  format: int32
                                rejected:
                                  type: integer
                                  format: int32
                                invited:
                                  type: integer
                                  format: int32
                                talent-pool:
                                  type: integer
                                  format: int32
                                hired:
                                  type: integer
                                  format: int32
                                shortlisted:
                                  type: integer
                                  format: int32
                                contract:
                                  type: integer
                                  format: int32
                                ready-for-grading:
                                  type: integer
                                  format: int32
                      relationships:
                        type: object
                        required:
                        - regions
                        - locations
                        properties:
                          regions:
                            type: object
                            allOf:
                            - type: object
                              required:
                              - data
                              properties:
                                data:
                                  type: array
                                  items:
                                    additionalProperties: false
                                    required:
                                    - type
                                    - id
                                    properties:
                                      type:
                                        type: string
                                        example: regions
                                      id:
                                        type: string
                          locations:
                            type: object
                            allOf:
                            - type: object
                              required:
                              - data
                              properties:
                                data:
                                  type: array
                                  items:
                                    additionalProperties: false
                                    required:
                                    - type
                                    - id
                                    properties:
                                      type:
                                        type: string
                                        example: locations
                                      id:
                                        type: string
                          jobFunctions:
                            type: object
                            allOf:
                            - type: object
                              required:
                              - data
                              properties:
                                data:
                                  type: array
                                  items:
                                    additionalProperties: false
                                    required:
                                    - type
                                    - id
                                    properties:
                                      type:
                                        type: string
                                        example: job-functions
                                      id:
                                        type: string
                    allOf:
                    - required:
                      - id
                      - type
                      properties:
                        type:
                          type: string
                          enum:
                          - vacancies
                        id:
                          type: string
                    - type: object
                      required:
                      - attributes
                      properties:
                        attributes:
                          additionalProperties: false
                          required:
                          - name
                          - title
                          - description
                          - location
                          - createdAt
                          - applicationUrl
                          properties:
                            name:
                              type: string
                            title:
                              anyOf:
                              - type: array
                              - type: string
                            description:
                              anyOf:
                              - type: array
                              - type: string
                            location:
                              type: string
                            createdAt:
                              type: integer
                              format: int64
                            applicationUrl:
                              type: string
                            account:
                              type: string
                  included:
                    type: array
                    items:
                      allOf:
                      - type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - locations
                          id:
                            type: string
                          attributes:
                            type: object
                            properties:
                              name:
                                type: string
                              address:
                                type: string
                              email:
                                type: string
                              externalId:
                                type: string
                              region:
                                type:
                                - string
                                - 'null'
                              hiringChance:
                                type: integer
                              minHoursAvailability:
                                type: integer
                              walkingTimes:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    from:
                                      type: integer
                                      format: int64
                                    to:
                                      type: integer
                                      format: int64
                      - type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - regions
                          id:
                            type: string
                          attributes:
                            type: object
                            properties:
                              name:
                                type: string
                      - type: object
                        properties:
                          type:
                            type: string
                            enum:
                            - job-functions
                          id:
                            type: string
                          attributes:
                            type: object
                            properties:
                              name:
                                type: string
                              assignedLocation:
                                type: string
      operationId: getVacanciesByVacancyId
      x-operation-id-source: derived
    patch:
      summary: Update a Vacancy Status
      tags:
      - Vacancies
      parameters:
      - in: path
        name: vacancyId
        schema:
          type: string
        required: true
        description: ID of the Vacancy to consider
      requestBody:
        description: The Vacancy status to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                attributes:
                  properties:
                    status:
                      type: string
                      enum:
                      - open
                      - closed
                      - draft
      responses:
        '204':
          description: Status indication of Vacancy updated
      operationId: patchVacanciesByVacancyId
      x-operation-id-source: derived
  /vacancies/{vacancyId}/locations:
    patch:
      deprecated: true
      summary: Updates locations of a vacancy
      description: '!!! IMPORTANT - This endpoint will be removed soon. Please use `Updates attached locations of a vacancy` endpoint

        This endpoint updates the locations of a vacancy. It supports two config option keys to manipulate location update.


        - `switchToLocations` - Supports boolean value `true` or `false`. If `true`, will force switching to a vacancy. If there are any regions attached to the vacancy, this will skip the regions check and remove regions and attach locations to the vacancy. Else will check if there are any regions attached to the vacancy before updating the locations, and if so, will not allow location update.

        - `replaceLocations` - Supports boolean value `true` or `false`. If `true`, previous existing locations will be replaced by the new locations. Else will add the new locations to the previous locations.'
      tags:
      - Vacancies
      parameters:
      - in: path
        name: vacancyId
        schema:
          type: string
        required: true
        description: ID of the Vacancy to consider
      requestBody:
        description: The Vacancy status to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                attributes:
                  properties:
                    locations:
                      type: array
                      items:
                        type: string
                      example:
                      - 621f456062c05d000825b694
                      - 621f456062c05d000825b695
                      - 621f456062c05d000825b696
                    switchToLocations:
                      type: boolean
                      example: false
                    replaceLocations:
                      type: boolean
                      example: false
      responses:
        '200':
          description: Successfully updated the locations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Vacancy locations updated successfully
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: ValidationError
                        status:
                          type: number
                          example: 400
                        title:
                          type: string
                          example: A message thrown by JOI schema validator
        '500':
          description: Any failures
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      error:
                        type: string
                        example: Trying to update a vacancy with regions
      operationId: patchVacanciesByVacancyIdLocations
      x-operation-id-source: derived
  /vacancies/{vacancyId}/locations-v2:
    patch:
      summary: Updates attached locations of a vacancy
      description: 'This endpoint updates the attached locations of a vacancy. It supports two configs to manipulate location update.

        - `forceOperation` - This option accepts boolean value `true` or `false`.


        - If set to `true`, it will attach sent locations to the job vacancy, EVEN IF there are already regions attached to it.


        - If set to `false`, will verify if the job vacancy already has regions attached. If regions are already attached, an error response is sent.


        - `replaceValues` - This option accepts boolean value `true` or `false`.


        - If set to `true`, the new locations will completely replace any existing ones in the vacancy.


        - If set to `false`, the new locations will be added alongside the existing ones, creating a combined list of locations and attaching them to the vacancy.'
      tags:
      - Vacancies
      parameters:
      - in: path
        name: vacancyId
        schema:
          type: string
        required: true
        description: ID of the Vacancy to consider
      requestBody:
        description: The Vacancy status to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                attributes:
                  properties:
                    locations:
                      type: array
                      items:
                        type: string
                      example:
                      - 621f456062c05d000825b694
                      - 621f456062c05d000825b695
                      - 621f456062c05d000825b696
                    forceOperation:
                      type: boolean
                      example: false
                    replaceValues:
                      type: boolean
                      example: false
      responses:
        '200':
          description: Successfully updated the locations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Vacancy locations updated successfully
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: ValidationError
                        status:
                          type: number
                          example: 400
                        title:
                          type: string
                          example: A message thrown by JOI schema validator
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: Forbidden
                        status:
                          type: string
                          example: '403'
                        title:
                          type: string
                          example: Forbidden
                        detail:
                          type: string
                          example: Does not have permission to perform this action
        '404':
          description: Not Found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: Not Found
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
                        detail:
                          type: string
                          example: Vacancy not found
        '500':
          description: Any other failures
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: InternalServerError
                        status:
                          type: string
                          example: '500'
                        title:
                          type: string
                          example: Internal Server Error
                        detail:
                          type: string
                          example: Unexpected error occurred
      operationId: patchVacanciesByVacancyIdLocationsV2
      x-operation-id-source: derived
  /vacancies/{vacancyId}/regions:
    patch:
      summary: Updates attached regions of a vacancy
      description: 'This endpoint updates the attached regions of a vacancy. It supports two configs to manipulate regions update.


        - `forceOperation` - This option accepts boolean value `true` or `false`.


        - If set to `true`, it will attach sent regions to the job vacancy, EVEN IF there are already locations attached to it.


        - If set to `false`, will verify if the job vacancy already has locations attached. If locations are already associated, an error response is sent.


        - `replaceValues` - This option accepts boolean value `true` or `false`.


        - If set to `true`, the new regions will completely replace any existing ones in the vacancy.


        - If set to `false`, the new regions will be added alongside the existing ones, creating a combined list of regions and attaching them to the vacancy.'
      tags:
      - Vacancies
      parameters:
      - in: path
        name: vacancyId
        schema:
          type: string
        required: true
        description: ID of the Vacancy to consider
      requestBody:
        description: The Vacancy status to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                attributes:
                  properties:
                    regions:
                      type: array
                      items:
                        type: string
                      example:
                      - 621f456062c05d000825b694
                      - 621f456062c05d000825b695
                      - 621f456062c05d000825b696
                    forceOperation:
                      type: boolean
                      example: false
                    replaceValues:
                      type: boolean
                      example: false
      responses:
        '200':
          description: Successfully updated the regions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Vacancy regions updated successfully
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: ValidationError
                        status:
                          type: number
                          example: 400
                        title:
                          type: string
                          example: A message thrown by JOI schema validator
        '403':
          description: Forbidden error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: Forbidden
                        status:
                          type: string
                          example: '403'
                        title:
                          type: string
                          example: Forbidden
                        detail:
                          type: string
                          example: Does not have permission to perform this action
        '404':
          description: Not Found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: Not Found
                        status:
                          type: string
                          example: '404'
                        title:
                          type: string
                          example: Not Found
                        detail:
                          type: string
                          example: Vacancy not found
        '500':
          description: Any other failures
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: InternalServerError
                        status:
                          type: string
                          example: '500'
                        title:
                          type: string
                          example: Internal Server Error
                        detail:
                          type: string
                          example: Unexpected error occurred
      operationId: patchVacanciesByVacancyIdRegions
      x-operation-id-source: derived
