openapi: 3.2.0
info:
  version: 1.37.0
  title: Harver Public Candidate Applications API
  description: Public API of the Harver Platform available only for the Customers of Harver.
  contact:
    name: Harver Support Team
    email: support@harver.com
    url: https://support.harver.com
servers:
- url: https://api.harver.com/api/v1.0/
  description: Production Server
tags:
- name: candidateApplications
paths:
  /vacancies/{vacancyId}/applications:
    post:
      summary: Create a Candidate and Application in an Account
      description: 'To create a new application in Harver Platform, perform a `POST` operation to the `/vacancies//applications` endpoint. The response provides a magic link to complete a candidate journey in Harver Platform. The magic link is generated for a new or an existing applicant.


        If the candidate already applied for the vacancy in Harver, the magic link for that application will be returned.'
      tags:
      - candidateApplications
      parameters:
      - in: path
        name: vacancyId
        schema:
          type: string
        required: true
        description: ID of the Vacancy to consider
      requestBody:
        description: Candidate Application details
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      example: applications
                    attributes:
                      type: object
                      additionalProperties: {}
                      properties:
                        key:
                          type: string
                          example: value
                          maxLength: 512
                          description: Key name must be alphanumeric, with - and _ allowed.
                      description: Must be key -> value pairs, with an upper limit of 20 pairs. Can be used to attach custom values to applications.
                    relationships:
                      properties:
                        candidate:
                          properties:
                            data:
                              type: object
                              properties:
                                type:
                                  type: string
                                  example: candidates
                                attributes:
                                  properties:
                                    emailAddress:
                                      type: string
                                    firstName:
                                      type: string
                                    lastName:
                                      type: string
                                    phoneNumber:
                                      type: string
                                      description: in E.164 format. e.g. +31xxxxxxxx
                                    language:
                                      type: string
                                      enum:
                                      - en-US
                                      - nl-NL
                                      - en-GB
                                      - zh-CN
                                      - da-DK
                                      - fr-FR
                                      - de-DE
                                      - hu-HU
                                      - it-IT
                                      - ja-JP
                                      - ko-KR
                                      - nb-NO
                                      - pt-PT
                                      - ru-RU
                                      - sr-RS
                                      - es-ES
                                      - sv-SE
                                      - pl-PL
                                      - bg-BG
                                      - fi-FI
                                      - fr-BE
                                      - nl-BE
                                      - cs-CS
                                      - de-AT
                                      - de-CH
                                      - it-CH
                                      - el-GR
                                      - ur-UR
                                      - pt-BR
                                      - es-419
                                      - sk-SK
                                      - fr-CA
                                      - tr-TR
      responses:
        '201':
          description: Candidate and Application created successfully
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                - data
                properties:
                  data:
                    type: object
                    properties:
                      magicLink:
                        type: string
                      applicationId:
                        type: string
                      currentStatus:
                        type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        status:
                          type: number
                        title:
                          type: string
      operationId: postVacanciesByVacancyIdApplications
      x-operation-id-source: derived
