openapi: 3.2.0
info:
  version: 1.37.0
  title: Harver Public Applications API
  description: Public API of the Harver Platform available only for the Customers of Harver.
  contact:
    name: Harver Support Team
    email: support@harver.com
    url: https://support.harver.com
servers:
- url: https://api.harver.com/api/v1.0/
  description: Production Server
tags:
- name: Applications
paths:
  /applications:
    get:
      summary: Returns application ids
      description: 'Get harver application ids based on ats-parameters or search by vacancy and email.

        - filter[atsParameters]

        or

        - filter[applicationMeta]


        #### Important!!


        To improve the search of applications using atsParameters, the endpoint has been limited to search applications using standardized parameters only. Below is the list of standardized parameters.


        - application_id

        - candidate_id

        - country

        - id

        - location

        - source

        - vacancy_id


        Apart from these, harver provides another 5 customizable standard atsParameters. So the client can do a custom mapping from the client''s side and use these standard atsParameters for an application search.


        - custom_id_1

        - custom_id_2

        - custom_id_3

        - custom_id_4

        - custom_id_5


        #### Example query:

        To search an application based on atsCandidateId, you would call the following endpoint:


        curl -X GET \

        ''https://api.harver.com/api/v1.0/applications?accountId=:accountId&filter[atsParameters][atsCandidateId]=123456789&filter[atsParameters][atdVacancyId]=56254122'' \

        -H ''Authorization: Bearer ...''


        To search an application based on vacancy and email, you would call the following endpoint:


        curl -X GET \

        ''https://api.harver.com/api/v1.0/applications?accountId=:accountId&filter[applicationMeta][vacancy]=123456789&filter[applicationMeta][email]=email@test.com'' \

        -H ''Authorization: Bearer ...'''
      tags:
      - Applications
      parameters:
      - in: query
        name: accountId
        required: true
        description: The account to look for
        schema:
          type: string
      - in: query
        required: true
        name: filter
        description: The filter to apply
        schema:
          type: string
          enum:
          - atsParameters[candidateId]
          - atsParameters[srcId]
          - atsParameters[vacancyId]
          - applicationMeta[vacancy]
          - applicationMeta[email]
      responses:
        '200':
          description: Returns Application ids
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: string
                        vacancyId:
                          type: string
      operationId: getApplications
      x-operation-id-source: derived
  /applications/{applicationId}:
    get:
      summary: Returns the details of an Application
      description: '### IMPORTANT

        Avoid using all the `include` criteria, unless all modules are enabled in your account. Use `include` criteria for the modules activated in your account.

        ## Retrieving relationship data

        To retrieve an Application''s relationship data (such as a PDF report, submitted resume etc.), you can make a basic GET `applications/{applicationId}`, while also providing the `include` parameter. This parameter represents ''a list of comma-separated includes'', which are to be included in the response.

        #### Supported includes:

        - `vacancy`

        - `report`

        - `cover-letter`

        - `resume`

        - `profile-photo`

        - `matching-results`

        - `video-pitches`

        - `video-interviews`

        - `personal-info`

        - `additional-info`

        - `grading`

        - `ats`

        - `open-questions`

        - `consents`

        - `application-locations`

        - `locations`

        - `availability`

        - `job-functions`

        - `diagnostics`

        - `location-specific-question`

        - `custom-document`

        - `virtual-interviews`

        - `matching-indicators`

        - `account-questions`

        - `personal-information`

        - `sessions`

        - `fraud-flags`

        - `smart-job-navigator`

        - `proctoring`

        #### Proctoring

        The `proctoring` include returns the candidate''s session-monitoring consent status and out-of-focus tab-switch count. It is only present in the response for vacancies that have Proctoring enabled (i.e. where the application contains a proctoring consent record). When consent is declined, `proctoringResults.outOfFocus.count` will be `null`.

        #### Report

        The report is shown in the GET Application response in the language in which the candidate has completed the flow. To get the content of the report in a specific language (if available), please specify the language in the request header `Accept-Language`. Please note that multiple language preferences are not supported. The language of the response content will be specified in the response header `Content-Language`.

        #### Personal and Additional Info

        When personal or additional info modules are included, attributes will have `questions` field as an array of questions, where each question has the following attributes:

        - `questionId(string)`

        - `question(string)`

        - `answer(mixed)`

        - `answerType(string)`

        For Retail Flow accounts, the personal-info include''s module type will be `Vacancy Questions`

        #### Personal Information (New Module)

        To get data from new personal information module, you need to add the include `personal-information`. Schema example is added in the response samples.

        #### NOTE: `smart-job-navigator` include returns data only when the application status is not `in progress` .

        #### Example query:

        To fetch an application with the ID `5bd17c67c081252955b19659` and include `matching-results` and `ats` information in the response, you would call the following endpoint:


        curl -X GET \

        ''https://api.harver.com/api/v1.0/applications/5bd17c67c081252955b19659?include=matching-results,ats'' \

        -H ''Authorization: Bearer ...''


        #### NOTE: `open-questions` include will be deprecated, please use `open-question` instead.'
      tags:
      - Applications
      parameters:
      - in: path
        name: applicationId
        required: true
        description: ID of the Application to consider ([0-9a-f]{24})
        schema:
          type: string
      - in: query
        name: include
        description: The include to apply for relationship data. Use comma separated values for include
        schema:
          type: string
          enum:
          - vacancy
          - report
          - cover-letter
          - resume
          - profile-photo
          - matching-results
          - video-pitches
          - video-interviews
          - personal-info
          - additional-info
          - grading
          - ats
          - open-questions
          - consents
          - application-locations
          - locations
          - availability
          - job-functions
          - diagnostics
          - location-specific-question
          - custom-document
          - virtual-interviews
          - matching-indicators
          - account-questions
          - personal-information
      responses:
        '200':
          description: Returns the details of the Application
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                    - type: object
                      required:
                      - type
                      - id
                      - attributes
                      - relationships
                      properties:
                        type:
                          type: string
                          example: applications
                        id:
                          type: string
                        attributes:
                          additionalProperties: false
                          required:
                          - appliedAt
                          - status
                          - matchingScore
                          properties:
                            appliedAt:
                              type: integer
                              format: int64
                            completedAt:
                              type: integer
                              format: int64
                            status:
                              type: string
                            progress:
                              type: object
                              properties:
                                all:
                                  type: integer
                                  format: int32
                                completed:
                                  type: integer
                                  format: int32
                            matchingScore:
                              format: float
                              minimum: 0
                              maximum: 100
                            language:
                              type: string
                              example: ENG
                            matchingProfile:
                              type: object
                              properties:
                                bracketId:
                                  type: string
                                  example: good
                                label:
                                  type: string
                                  example: Good Fit
                            isRejectedByHardQuestion:
                              type: boolean
                        relationships:
                          properties:
                            candidate:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      example: candidates
                                    email:
                                      type: string
                                    attributes:
                                      type: object
                                      properties:
                                        firstName:
                                          type: string
                                        lastName:
                                          type: string
                                        email:
                                          type: string
                            vacancy:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                      example: vacancies
                                    id:
                                      type: string
                            report:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                      example: reports
                                    id:
                                      type: string
                            fact-sheets:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                      example: fact-sheets
                                    id:
                                      type: string
                            candidate-detail-page:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                      example: candidate-detail-page
                                    id:
                                      type: string
                            cover-letter:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                      example: cover-letters
                                    id:
                                      type: string
                            resume:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                      example: resumes
                                    id:
                                      type: string
                            profile-photo:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                      example: profile-photos
                                    id:
                                      type: string
                            custom-document:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                      example: custom-documents
                                    id:
                                      type: string
                            additional-info:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                      example: additional-info
                                    id:
                                      type: string
                            personal-info:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                      example: personal-info
                                    id:
                                      type: string
                            video-interviews:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  type: array
                                  items:
                                    required:
                                    - type
                                    - id
                                    properties:
                                      type:
                                        type: string
                                        example: video-interviews
                                      id:
                                        type: string
                            video-pitches:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  type: array
                                  items:
                                    required:
                                    - type
                                    - id
                                    properties:
                                      type:
                                        type: string
                                        example: video-pitches
                                      id:
                                        type: string
                            matching-results:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  type: array
                                  items:
                                    required:
                                    - type
                                    - id
                                    properties:
                                      type:
                                        type: string
                                        example: matching-results
                                      id:
                                        type: string
                            job-functions:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - type
                                    - id
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                        - job-functions
                                      id:
                                        type: string
                            locations:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - type
                                    - id
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                        - locations
                                      id:
                                        type: string
                            consents:
                              type: object
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                        - consents
                                      id:
                                        type: string
                            open-question:
                              type: object
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                        - open-question
                                      id:
                                        type: string
                            system-diagnostics:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                      example: system-diagnostics
                                    id:
                                      type: string
                            application-locations:
                              type: object
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                        - application-locations
                                      id:
                                        type: string
                            location-specific-question:
                              type: object
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                        - location-specific-question
                                      id:
                                        type: string
                            availability:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                      - availability
                                    id:
                                      type: string
                            virtual-interviews:
                              type: object
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                        - virtual-interviews
                                      id:
                                        type: string
                            matching-indicators:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  type: array
                                  items:
                                    required:
                                    - type
                                    - id
                                    properties:
                                      type:
                                        type: string
                                        example: matching-indicators
                                      id:
                                        type: string
                            account-questions:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                      example: account-questions
                                    id:
                                      type: string
                            personal-information:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                      example: personal-information
                                    id:
                                      type: string
                            account:
                              type: object
                              required:
                              - data
                              properties:
                                data:
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                      example: accounts
                                    id:
                                      type: string
                  included:
                    type: array
                    items:
                      oneOf:
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - id
                          - attributes
                          properties:
                            type:
                              type: string
                              example: vacancies
                            id:
                              type: string
                            attributes:
                              additionalProperties: false
                              required:
                              - name
                              - location
                              properties:
                                name:
                                  type: string
                                location:
                                  type: string
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - id
                          - attributes
                          properties:
                            type:
                              type: string
                              enum:
                              - reports
                              - cover-letters
                              - resumes
                              - profile-photos
                              - custom-documents
                            id:
                              type: string
                            attributes:
                              additionalProperties: false
                              required:
                              - expiresAt
                              - url
                              properties:
                                expiresAt:
                                  type: integer
                                  format: int64
                                url:
                                  type: string
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - id
                          - attributes
                          properties:
                            type:
                              type: string
                              enum:
                              - fact-sheets
                            id:
                              type: string
                            attributes:
                              type: object
                              properties:
                                expiresAt:
                                  type: integer
                                url:
                                  type: string
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - id
                          - attributes
                          properties:
                            type:
                              type: string
                              enum:
                              - candidate-detail-page
                            id:
                              type: string
                            attributes:
                              type: object
                              properties:
                                url:
                                  type: string
                      - allOf:
                        - type: object
                          required:
                          - type
                          - id
                          - attributes
                          - relationships
                          - meta
                          properties:
                            type:
                              type: string
                              example: matching-results
                            id:
                              type: string
                            meta: {}
                            relationships:
                              required:
                              - modules
                              additionalProperties: false
                              properties:
                                modules:
                                  required:
                                  - data
                                  additionalProperties: false
                                  properties:
                                    data:
                                      required:
                                      - type
                                      - id
                                      additionalProperties: false
                                      properties:
                                        type:
                                          type: string
                                          enum:
                                          - modules
                                        id:
                                          type: string
                            attributes:
                              additionalProperties: false
                              required:
                              - moduleType
                              - language
                              - calculatedAt
                              - moduleScore
                              - moduleWeight
                              properties:
                                moduleType:
                                  type: string
                                language:
                                  type: string
                                calculatedAt:
                                  type: integer
                                  format: int64
                                moduleScore:
                                  type: integer
                                  format: int32
                                  minimum: 0
                                  maximum: 100
                                moduleWeight:
                                  type: integer
                                  format: int32
                                  minimum: 0
                                  maximum: 1
                                status:
                                  type: string
                                  enum:
                                  - pass
                                  - fail
                                  - unknown
                                  - skip
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - id
                          - attributes
                          properties:
                            type:
                              type: string
                              enum:
                              - personal-info
                              - additional-info
                            id:
                              type: string
                            attributes:
                              additionalProperties: false
                              required:
                              - moduleType
                              - questions
                              properties:
                                moduleType:
                                  type: string
                                questions:
                                  type: array
                                  items:
                                    type: object
                                    additionalProperties: false
                                    required:
                                    - questionId
                                    - question
                                    - answer
                                    - answerType
                                    properties:
                                      questionId:
                                        type: string
                                      question:
                                        type: string
                                      answer:
                                        type: string
                                      answerType: {}
                                      showStoppertype:
                                        type: string
                                      isFalseAnswer:
                                        type: boolean
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - ats-parameters
                          properties:
                            type:
                              type: string
                              enum:
                              - ats-parameters
                            attributes:
                              additionalProperties: false
                              required:
                              - vacancy_id
                              - candidate_id
                              - application_id
                              - src_id
                              properties:
                                vacancy_id:
                                  type: string
                                candidate_id:
                                  type: string
                                application_id:
                                  type: string
                                src_id:
                                  type: string
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - attributes
                          properties:
                            type:
                              type: string
                              enum:
                              - open-questions
                            attributes:
                              additionalProperties: false
                              required:
                              - id
                              - answers
                              properties:
                                id:
                                  additionalProperties: false
                                  required:
                                  - _id
                                  - __t
                                  - images
                                  properties:
                                    _id:
                                      type: string
                                    __t:
                                      type: string
                                    images:
                                      type: array
                                      items:
                                        type: object
                                        additionalProperties: false
                                        required:
                                        - _id
                                        - key
                                        - value
                                        - placeHolder
                                        - fileName
                                        - __v
                                        - isRemovable
                                        properties:
                                          _id:
                                            type: string
                                          key:
                                            type: string
                                          value:
                                            type: string
                                          placeHolder:
                                            type: string
                                          fileName:
                                            type: string
                                          __v:
                                            type: string
                                          isRemovable:
                                            type: boolean
                                answers:
                                  type: array
                                  items:
                                    type: object
                                    additionalProperties: false
                                    required:
                                    - answer
                                    - question
                                    properties:
                                      answer:
                                        type: string
                                      question:
                                        type: string
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - id
                          - attributes
                          properties:
                            type:
                              type: string
                              enum:
                              - open-question
                            id:
                              type: string
                            attributes:
                              type: object
                              properties:
                                moduleType:
                                  type: string
                                question:
                                  type: string
                                answer:
                                  type: string
                                images:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                      placeHolder:
                                        type: string
                                      key:
                                        type: string
                                      fileName:
                                        type: string
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - id
                          - attributes
                          properties:
                            type:
                              type: string
                              enum:
                              - consents
                            id:
                              type: string
                            attributes:
                              additionalProperties: false
                              required:
                              - moduleType
                              - text
                              - consents
                              properties:
                                moduleType:
                                  type: string
                                text:
                                  type: string
                                consent:
                                  type: boolean
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - attributes
                          properties:
                            type:
                              type: string
                              enum:
                              - grading
                            attributes:
                              additionalProperties: false
                              required:
                              - grading_status
                              - grading_notes
                              - grader_name
                              - grader_email
                              properties:
                                grading_status:
                                  type: string
                                grading_notes:
                                  type: string
                                grader_name:
                                  type: string
                                grader_email:
                                  type: string
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - id
                          - attributes
                          properties:
                            type:
                              type: string
                              enum:
                              - application-locations
                            id:
                              type: string
                            attributes:
                              additionalProperties: false
                              required:
                              - moduleType
                              - status
                              - isPreferred
                              - location-specific-questions
                              properties:
                                moduleType:
                                  type: string
                                name:
                                  type: string
                                status:
                                  type: string
                                isPreferred:
                                  type: boolean
                                location-specific-questions:
                                  type: object
                                  properties:
                                    ENG:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          vacancy:
                                            type: string
                                          question:
                                            type: string
                                          _id:
                                            type: string
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - id
                          - attributes
                          properties:
                            type:
                              type: string
                              enum:
                              - availability
                            id:
                              type: string
                            attributes:
                              type: object
                              properties:
                                moduleType:
                                  type: string
                                selectedHoursPerWeek:
                                  type: object
                                  properties:
                                    selected:
                                      type: boolean
                                    hours:
                                      type: object
                                      properties:
                                        overflow:
                                          type: boolean
                                        value:
                                          type: integer
                                selectedDaysPerWeek:
                                  type: object
                                  properties:
                                    selected:
                                      type: boolean
                                    days:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                          timeslots:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                name:
                                                  type: string
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - id
                          - attributes
                          properties:
                            type:
                              type: string
                              enum:
                              - locations
                            id:
                              type: string
                            attributes:
                              type: object
                              properties:
                                name:
                                  type: string
                                externalId:
                                  type: string
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - id
                          - attributes
                          properties:
                            type:
                              type: string
                              enum:
                              - job-functions
                            id:
                              type: string
                            attributes:
                              type: object
                              properties:
                                moduleType:
                                  type: string
                                title:
                                  type: string
                      - allOf:
                        - type: object
                          required:
                          - type
                          - id
                          - attributes
                          properties:
                            type:
                              type: string
                              enum:
                              - system-diagnostics
                            id:
                              type: string
                            attributes:
                              type: object
                              properties:
                                moduleType:
                                  type: string
                                finalStatus:
                                  type: string
                                  enum:
                                  - pass
                                  - fail
                                  - skip
                                statusDescription:
                                  type:
                                  - string
                                  - 'null'
                                metaResults:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      platform:
                                        type: string
                                        enum:
                                        - pass
                                        - fail
                                      processor:
                                        type: string
                                        enum:
                                        - pass
                                        - fail
                                      browser:
                                        type: string
                                        enum:
                                        - pass
                                        - fail
                                      ram:
                                        type: string
                                        enum:
                                        - pass
                                        - fail
                                      freeSpace:
                                        type: string
                                        enum:
                                        - pass
                                        - fail
                                      machineType:
                                        type: string
                                        enum:
                                        - pass
                                        - fail
                                      downloadSpeed:
                                        type: string
                                        enum:
                                        - pass
                                        - fail
                                      uploadSpeed:
                                        type: string
                                        enum:
                                        - pass
                                        - fail
                                      latency:
                                        type: string
                                        enum:
                                        - pass
                                        - fail
                                      connectionType:
                                        type: string
                                        enum:
                                        - pass
                                        - fail
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - id
                          - attributes
                          properties:
                            type:
                              type: string
                              enum:
                              - location-specific-question
                            id:
                              type: string
                            attributes:
                              type: object
                              properties:
                                moduleType:
                                  type: string
                                question:
                                  type: string
                                answerType:
                                  type: string
                                answer:
                                  type: string
                                locationName:
                                  type: string
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - id
                          - attributes
                          properties:
                            type:
                              type: string
                              enum:
                              - virtual-interviews
                            id:
                              type: string
                            attributes:
                              type: object
                              properties:
                                moduleType:
                                  type: string
                                  example: Virtual Interviews
                                questions:
                                  type: array
                                  items:
                                    properties:
                                      question:
                                        type: string
                                        description: The interview question text presented to the candidate.
                                      questionUrl:
                                        type: string
                                        description: URL of the question media (e.g. a recorded video question), when available.
                                      answerUrl:
                                        type: string
                                        description: Signed, time-limited URL to the candidate's recorded answer video (.mp4). The link is valid for 1 hour from the moment the application is fetched; request the application again to obtain a fresh URL.
                                      answerToken:
                                        type: string
                                        description: Internal token identifying the answer recording. Use `answerUrl` to play the video; do not construct video URLs from this token.
                                      isAnswerSkipped:
                                        type: boolean
                                        description: Whether the candidate skipped answering this question.
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - id
                          - attributes
                          properties:
                            type:
                              type: string
                              enum:
                              - matching-indicators
                            id:
                              type: string
                            attributes:
                              type: object
                              required:
                              - name
                              - score
                              - bracketId
                              - externalId
                              properties:
                                name:
                                  type: string
                                score:
                                  type: string
                                bracketId:
                                  type: string
                                externalId:
                                  type: string
                                fail:
                                  type: boolean
                                label:
                                  type: string
                                brackets:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      bracketId:
                                        type: string
                                      cutoff:
                                        type: boolean
                                      name:
                                        type: string
                                      treshold:
                                        type: integer
                                        format: int32
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - id
                          - attributes
                          properties:
                            type:
                              type: string
                              example: account-questions
                            id:
                              type: string
                            attributes:
                              additionalProperties: false
                              required:
                              - moduleType
                              - questions
                              properties:
                                moduleType:
                                  type: string
                                questions:
                                  type: array
                                  items:
                                    type: object
                                    additionalProperties: false
                                    required:
                                    - key
                                    - questionId
                                    - question
                                    - answer
                                    - answerIds
                                    - answerType
                                    properties:
                                      key:
                                        type: string
                                      questionId:
                                        type: string
                                      question:
                                        type: string
                                      answerIds:
                                        type: array
                                      answer:
                                        type: string
                                      answerType:
                                        type: string
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - id
                          - attributes
                          properties:
                            type:
                              type: string
                              example: personal-information
                            id:
                              type: string
                            attributes:
                              additionalProperties: false
                              required:
                              - moduleType
                              - questions
                              properties:
                                moduleType:
                                  type: string
                                questions:
                                  type: array
                                  items:
                                    type: object
                                    additionalProperties: false
                                    required:
                                    - key
                                    - questionId
                                    - question
                                    - answerIds
                                    - answers
                                    - answerType
                                    properties:
                                      key:
                                        type: string
                                      questionId:
                                        type: string
                                      question:
                                        type: string
                                      answerIds:
                                        type: array
                                      answers:
                                        type: array
                                      answerType:
                                        type: string
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - attributes
                          properties:
                            type:
                              type: string
                              example: sessions
                            attributes:
                              additionalProperties: false
                              required:
                              - candidateSessions
                              properties:
                                candidateSessions:
                                  type: array
                                  items:
                                    type: object
                                    additionalProperties: false
                                    required:
                                    - eventId
                                    - id
                                    - timestamp
                                    - device
                                    - os
                                    - browser
                                    - sessionLocation
                                    - anonymizerTypes
                                    properties:
                                      eventId:
                                        type: string
                                      ip:
                                        type: string
                                      timestamp:
                                        type: string
                                      device:
                                        type: object
                                        properties:
                                          type:
                                            type: string
                                          model:
                                            type: string
                                          vendor:
                                            type: string
                                      os:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                          version:
                                            type: string
                                      browser:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                          version:
                                            type: string
                                      sessionLocation:
                                        type: object
                                        properties:
                                          city:
                                            type: string
                                          country:
                                            type: string
                                          continent:
                                            type: string
                                          coordinates:
                                            type: object
                                            properties:
                                              latitude:
                                                type: string
                                              longitude:
                                                type: string
                                              accuracyRadius:
                                                type: string
                                      anonymizerTypes:
                                        type: object
                                        properties:
                                          isAnonymous:
                                            type: boolean
                                          isAnonymousVpn:
                                            type: boolean
                                          isHostingProvider:
                                            type: boolean
                                          isPublicProxy:
                                            type: boolean
                                          isResidentialProxy:
                                            type: boolean
                                          isTorExitNode:
                                            type: boolean
                                      sessionCookieValue:
                                        type:
                                        - string
                                        - 'null'
                                        description: Cookie-based session identifier captured from the candidate's browser during the assessment session. Absent for sessions recorded before this field was collected.
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - attributes
                          properties:
                            type:
                              type: string
                              example: fraud-flags
                            attributes:
                              additionalProperties: false
                              required:
                              - fraudDetectionSessions
                              properties:
                                fraudDetectionSessions:
                                  type: object
                                  properties:
                                    vpnLocation:
                                      type: object
                                      properties:
                                        vpnFlag:
                                          type: string
                                        location:
                                          type: object
                                    reapplyFlag:
                                      type: object
                                      properties:
                                        flagged:
                                          type: boolean
                                        applications:
                                          type: array
                                          items:
                                            type: object
                                            additionalProperties: false
                                            properties:
                                              id:
                                                type: string
                                              completedAt:
                                                type: string
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - attributes
                          properties:
                            type:
                              type: string
                              example: smart-job-navigator
                            attributes:
                              additionalProperties: false
                              required:
                              - smartjobnavigator
                              properties:
                                smartjobnavigator:
                                  type: object
                                  properties:
                                    branches:
                                      type: array
                                      items:
                                        type: object
                                        additionalProperties: false
                                        properties:
                                          branchId:
                                            type: string
                                          name:
                                            type: string
                                          selected:
                                            type: boolean
                                    isSJNVacancy:
                                      type: boolean
                                    finalBranch:
                                      type: string
                      - allOf:
                        - type: object
                          additionalProperties: false
                          required:
                          - type
                          - attributes
                          properties:
                            type:
                              type: string
                              example: proctoring
                            attributes:
                              additionalProperties: false
                              required:
                              - proctoringResults
                              - consent
                              properties:
                                proctoringResults:
                                  type: object
                                  properties:
                                    outOfFocus:
                                      type: object
                                      properties:
                                        count:
                                          type:
                                          - integer
                                          - 'null'
                                          example: 5
                                consent:
                                  type: object
                                  properties:
                                    status:
                                      type: string
                                      enum:
                                      - accepted
                                      - declined
                                      example: accepted
                                    consentedAt:
                                      type: string
                                      format: date-time
                                      example: '2026-06-12T08:24:47.896Z'
      operationId: getApplicationsByApplicationId
      x-operation-id-source: derived
    patch:
      summary: Update an Application
      tags:
      - Applications
      parameters:
      - in: path
        name: applicationId
        required: true
        description: ID of the Application to consider ([0-9a-f]{24})
        schema:
          type: string
      requestBody:
        description: The Application status to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                attributes:
                  required:
                  - status
                  properties:
                    status:
                      type: string
                      enum:
                      - new
                      - in-progress
                      - rejected
                      - invited
                      - talent-pool
                      - hired
                      - shortlisted
                      - contract
                    message:
                      type: object
                      properties:
                        ENG:
                          type: object
                          properties:
                            mailTitle:
                              type: string
                            mailBody:
                              type: string
                        NL:
                          type: object
                          properties:
                            mailTitle:
                              type: string
                            mailBody:
                              type: string
                        FR:
                          type: object
                          properties:
                            mailTitle:
                              type: string
                            mailBody:
                              type: string
                        DE:
                          type: object
                          properties:
                            mailTitle:
                              type: string
                            mailBody:
                              type: string
                        ES:
                          type: object
                          properties:
                            mailTitle:
                              type: string
                            mailBody:
                              type: string
                        IT:
                          type: object
                          properties:
                            mailTitle:
                              type: string
                            mailBody:
                              type: string
                        en-GB:
                          type: object
                          properties:
                            mailTitle:
                              type: string
                            mailBody:
                              type: string
                        pt-PT:
                          type: object
                          properties:
                            mailTitle:
                              type: string
                            mailBody:
                              type: string
                        sv-SE:
                          type: object
                          properties:
                            mailTitle:
                              type: string
                            mailBody:
                              type: string
                        da-DK:
                          type: object
                          properties:
                            mailTitle:
                              type: string
                            mailBody:
                              type: string
                        nb-NO:
                          type: object
                          properties:
                            mailTitle:
                              type: string
                            mailBody:
                              type: string
                        replyToMail:
                          type: string
                        ccMailsList:
                          type: array
                          items:
                            type: string
                    rejectionReasonData:
                      type: object
                      properties:
                        reason:
                          type: string
                        note:
                          type: string
      responses:
        '204':
          description: Application successfully updated
      operationId: patchApplicationsByApplicationId
      x-operation-id-source: derived
    delete:
      summary: Delete an application using applicationId
      description: 'To delete an application, the requesting user should have access to the account and the vacancy which the application resides.

        Also the user should be an admin in the account to delete the application'
      tags:
      - Applications
      parameters:
      - in: path
        name: applicationId
        required: true
        description: ID of the Application to consider ([0-9a-f]{24})
        schema:
          type: string
      responses:
        '200':
          description: Application deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - applicationId
                    - message
                    properties:
                      applicationId:
                        type: string
                        example: A mongo id
                      message:
                        type: string
                        example: Application has been deleted
      operationId: deleteApplicationsByApplicationId
      x-operation-id-source: derived
  /applications/{applicationId}/notes:
    get:
      summary: Returns the Application Notes
      tags:
      - Applications
      parameters:
      - in: path
        name: applicationId
        required: true
        description: ID of the Application to consider ([0-9a-f]{24})
        schema:
          type: string
      responses:
        '200':
          description: An array of Notes
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      required:
                      - type
                      - id
                      - attributes
                      properties:
                        type:
                          type: string
                          example: notes
                        id:
                          type: string
                        attributes:
                          required:
                          - body
                          - author
                          - createdAt
                          - modifiedAt
                          properties:
                            body:
                              type: string
                            author:
                              type: string
                            createdAt:
                              type: integer
                              format: int64
                            modifiedAt:
                              type: integer
                              format: int64
                            rejectionReason:
                              type: string
                            rejectedFor:
                              type: string
                            rejectingUser:
                              type: string
                            rejectedLocation:
                              type: string
      operationId: getApplicationsByApplicationIdNotes
      x-operation-id-source: derived
    post:
      summary: Add a Note to an Application
      tags:
      - Applications
      parameters:
      - in: path
        name: applicationId
        required: true
        description: ID of the Application to consider ([0-9a-f]{24})
        schema:
          type: string
      requestBody:
        description: Note that needs to be added to the Application
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - notes
                    attributes:
                      properties:
                        body:
                          type: string
                        author:
                          type: string
      responses:
        '204':
          description: Note created successfully
      operationId: postApplicationsByApplicationIdNotes
      x-operation-id-source: derived
  /applications/{applicationId}/notes/{noteId}:
    delete:
      summary: Delete a Note from the Application
      tags:
      - Applications
      parameters:
      - in: path
        name: applicationId
        required: true
        description: ID of the Application to consider ([0-9a-f]{24})
        schema:
          type: string
      - in: path
        name: noteId
        schema:
          type: string
        required: true
        description: ID of the Note to consider
      responses:
        '204':
          description: Note deleted
      operationId: deleteApplicationsByApplicationIdNotesByNoteId
      x-operation-id-source: derived
  /applications/{applicationId}/ats-parameters:
    patch:
      summary: Update ats parameters
      description: Endpoint to update the 'ATS Parameters' for a candidate application
      tags:
      - Applications
      parameters:
      - in: path
        name: applicationId
        required: true
        description: ID of the Application to consider ([0-9a-f]{24})
        schema:
          type: string
      requestBody:
        description: Ats parameters that need to be updated in the candidate application
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      example: ats-parameters
                    id:
                      type: string
                    attributes:
                      type: object
                      additionalProperties: {}
                      properties:
                        key:
                          type: string
                          example: value
                          maxLength: 50
                          description: Key name must be alphanumeric, with - and _ allowed.
                      description: Must be key -> value pairs, with an upper limit of 20 pairs. Can be used to attach custom values to applications.
      responses:
        '204':
          description: The ats parameters were updated successfully
      operationId: patchApplicationsByApplicationIdAtsParameters
      x-operation-id-source: derived
  /applications/{applicationId}/locations:
    patch:
      summary: Add locations to an application
      description: Endpoint to add locations to a candidate application
      tags:
      - Applications
      parameters:
      - in: path
        name: applicationId
        required: true
        description: ID of the Application to consider ([0-9a-f]{24})
        schema:
          type: string
      requestBody:
        description: Location IDs that need to be added to the candidate application
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      example: application-locations
                    id:
                      type: string
                      example: <applicationId>
                    attributes:
                      required:
                      - locations
                      properties:
                        locations:
                          type: array
                          items:
                            type: string
                          example:
                          - <locationId>
                          - <locationId>
      responses:
        '204':
          description: The locations were added to the application successfully
      operationId: patchApplicationsByApplicationIdLocations
      x-operation-id-source: derived
  /applications/{applicationId}/locations/ext-{externalLocationId}:
    patch:
      summary: Update application status per external location
      description: 'Endpoint to update the ''status'' per external location for a candidate application


        When changing the status to ''HIRED'', the job function ID can be sent in the request body (optional attribute).'
      tags:
      - Applications
      parameters:
      - in: path
        name: applicationId
        required: true
        description: ID of the Application to consider ([0-9a-f]{24})
        schema:
          type: string
      - in: path
        name: externalLocationId
        schema:
          type: string
        required: true
        description: ID of the External Location to consider
      requestBody:
        description: Application status (per external location) that needs to be updated in the candidate application
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      example: application-externalLocations
                    id:
                      type: string
                      example: <externalLocationId>
                    attributes:
                      required:
                      - status
                      properties:
                        status:
                          type: string
                          enum:
                          - NEW
                          - IN PROGRESS
                          - TALENT POOL
                          - SHORTLISTED
                          - INVITED
                          - HIRED
                          - CONTRACT
                          - REJECTED
                          - READY FOR GRADING
                        message:
                          type: object
                          properties:
                            ENG:
                              type: object
                              properties:
                                mailTitle:
                                  type: string
                                mailBody:
                                  type: string
                            NL:
                              type: object
                              properties:
                                mailTitle:
                                  type: string
                                mailBody:
                                  type: string
                            FR:
                              type: object
                              properties:
                                mailTitle:
                                  type: string
                                mailBody:
                                  type: string
                            DE:
                              type: object
                              properties:
                                mailTitle:
                                  type: string
                                mailBody:
                                  type: string
                            ES:
                              type: object
                              properties:
                                mailTitle:
                                  type: string
                                mailBody:
                                  type: string
                            IT:
                              type: object
                              properties:
                                mailTitle:
                                  type: string
                                mailBody:
                                  type: string
                            en-GB:
                              type: object
                              properties:
                                mailTitle:
                                  type: string
                                mailBody:
                                  type: string
                            pt-PT:
                              type: object
                              properties:
                                mailTitle:
                                  type: string
                                mailBody:
                                  type: string
                            sv-SE:
                              type: object
                              properties:
                                mailTitle:
                                  type: string
                                mailBody:
                                  type: string
                            da-DK:
                              type: object
                              properties:
                                mailTitle:
                                  type: string
                                mailBody:
                                  type: string
                            nb-NO:
                              type: object
                              properties:
                                mailTitle:
                                  type: string
                                mailBody:
                                  type: string
                            replyToMail:
                              type: string
                            ccMailsList:
                              type: array
                              items:
                                type: string
                        hiredJobFunctionId:
                          type: string
                        rejectionReasonData:
                          type: object
                          properties:
                            reason:
                              type: string
                            note:
                              type: string
      responses:
        '204':
          description: The status per external location was updated successfully
      operationId: patchApplicationsByApplicationIdLocationsExt{externalLocationId}
      x-operation-id-source: derived
  /applications/{applicationId}/locations/{locationId}:
    patch:
      summary: Update application status per location
      description: 'Endpoint to update the ''status'' per location for a candidate application


        When changing the status to ''HIRED'', the job function ID can be sent in the request body (optional attribute).'
      tags:
      - Applications
      parameters:
      - in: path
        name: applicationId
        required: true
        description: ID of the Application to consider ([0-9a-f]{24})
        schema:
          type: string
      - in: path
        name: locationId
        schema:
          type: string
        required: true
        description: ID of the Location to consider
      requestBody:
        description: Application status (per location) that needs to be updated in the candidate application
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      example: application-locations
                    id:
                      type: string
                      example: <locationId>
                    attributes:
                      required:
                      - status
                      properties:
                        status:
                          type: string
                          enum:
                          - NEW
                          - IN PROGRESS
                          - TALENT POOL
                          - SHORTLISTED
                          - INVITED
                          - HIRED
                          - CONTRACT
                          - REJECTED
                          - READY FOR GRADING
                        message:
                          type: object
                          properties:
                            ENG:
                              type: object
                              properties:
                                mailTitle:
                                  type: string
                                mailBody:
                                  type: string
                            NL:
                              type: object
                              properties:
                                mailTitle:
                                  type: string
                                mailBody:
                                  type: string
                            FR:
                              type: object
                              properties:
                                mailTitle:
                                  type: string
                                mailBody:
                                  type: string
                            DE:
                              type: object
                              properties:
                                mailTitle:
                                  type: string
                                mailBody:
                                  type: string
                            ES:
                              type: object
                              properties:
                                mailTitle:
                                  type: string
                                mailBody:
                                  type: string
                            IT:
                              type: object
                              properties:
                                mailTitle:
                                  type: string
                                mailBody:
                                  type: string
                            en-GB:
                              type: object
                              properties:
                                mailTitle:
                                  type: string
                                mailBody:
                                  type: string
                            pt-PT:
                              type: object
                              properties:
[...]
