openapi: 3.2.0
info:
  version: 1.37.0
  title: Harver Public Accounts API
  description: Public API of the Harver Platform available only for the Customers of Harver.
  contact:
    name: Harver Support Team
    email: support@harver.com
    url: https://support.harver.com
servers:
- url: https://api.harver.com/api/v1.0/
  description: Production Server
tags:
- name: Accounts
paths:
  /accounts:
    get:
      summary: Returns all the available Accounts based on the access rights
      tags:
      - Accounts
      responses:
        '200':
          description: An array of Accounts
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                minProperties: 2
                properties:
                  data:
                    type: array
                    items:
                      allOf:
                      - required:
                        - id
                        - type
                        properties:
                          type:
                            type: string
                            enum:
                            - accounts
                            - images
                            - candidates
                            - applications
                            - vacancies
                            - modules
                          id:
                            type: string
                      - type: object
                        required:
                        - attributes
                        - relationships
                        properties:
                          attributes:
                            additionalProperties: false
                            required:
                            - name
                            - domain
                            properties:
                              name:
                                type: string
                              domain:
                                type:
                                - string
                                - 'null'
                          relationships:
                            additionalProperties: false
                            required:
                            - data
                            properties:
                              images:
                                additionalProperties: false
                                minProperties: 1
                                properties:
                                  data:
                                    type: array
                                    items:
                                      allOf:
                                      - type: object
                                        required:
                                        - meta
                                        properties:
                                          id:
                                            type: string
                                          type:
                                            type: string
                                            example: images
                                          meta:
                                            additionalProperties: false
                                            required:
                                            - image
                                            - type
                                            - removable
                                            properties:
                                              image:
                                                type: string
                                              type:
                                                type: string
                                              removable:
                                                type: boolean
                              configurations:
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                      attributes:
                                        properties:
                                          rejectReasonsEnabled:
                                            type: boolean
                                          retailFlowEnabled:
                                            type: boolean
                                          schedulingEnabled:
                                            type: boolean
                  meta:
                    required:
                    - count
                    properties:
                      count:
                        type: integer
                        format: int32
      operationId: getAccounts
      x-operation-id-source: derived
  /accounts/{accountId}/candidates:
    get:
      summary: Returns all Candidates of an Account
      description: 'To obtain the list of candidates in an Account, perform a `GET` operation to the `/accounts//candidates` endpoint.


        ### Limiting results

        Optionally, to limit the scope of the results, you can use the following query parameters:

        - `filter[email]`


        #### Example query:

        To fetch one candidate in account `5ab8845731e881343fa7458c` with the email address `testuser@harver.com`, you would call the following endpoint:


        curl -X GET \

        ''https://api.harver.com/api/v1.0/accounts/5ab8845731e881343fa7458c/candidates?filter[email]=testuser@harver.com'' \

        -H ''Authorization: Bearer ...''


        #### NOTE: If there are no candidates or a candidate is not found when filter by email is used, an empty data array will be returned.'
      tags:
      - Accounts
      parameters:
      - in: path
        name: accountId
        schema:
          type: string
        required: true
        description: ID of the Account to consider
      responses:
        '200':
          description: An array of Candidates
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      allOf:
                      - type: object
                        required:
                        - type
                        - id
                        - attributes
                        properties:
                          type:
                            type: string
                            example: candidates
                          id:
                            type: string
                          attributes:
                            additionalProperties: false
                            required:
                            - emailAddress
                            - firstName
                            - lastName
                            - address
                            - registeredAt
                            properties:
                              emailAddress:
                                type: string
                              firstName:
                                type: string
                              lastName:
                                type: string
                              address:
                                type: string
                              registeredAt:
                                type: integer
                                format: int64
      operationId: getAccountsByAccountIdCandidates
      x-operation-id-source: derived
  /accounts/{accountId}/candidates/{candidateId}/applications:
    get:
      summary: Returns all Applications of a Candidate in an Account
      deprecated: true
      tags:
      - Accounts
      parameters:
      - in: path
        name: accountId
        schema:
          type: string
        required: true
        description: ID of the Account to consider
      - in: path
        name: candidateId
        schema:
          type: string
        required: true
        description: ID of the candidate to consider
      responses:
        '200':
          description: An array of Applications
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                minProperties: 1
                properties:
                  data:
                    type: array
                    items:
                      allOf:
                      - type: object
                        properties:
                          type:
                            type: string
                            example: applications
                          id:
                            type: string
                          attributes:
                            additionalProperties: false
                            required:
                            - appliedAt
                            - matchingScore
                            - status
                            properties:
                              appliedAt:
                                type: integer
                                format: int64
                              matchingScore:
                                type: number
                                format: float
                                minimum: 0
                                maximum: 100
                              status:
                                type: string
                                enum:
                                - new
                                - in-progress
                                - rejected
                                - invited
                                - talent-pool
                                - hired
                                - shortlisted
                                - contract
                          relationships:
                            additionalProperties: false
                            required:
                            - candidate
                            properties:
                              candidate:
                                additionalProperties: false
                                required:
                                - data
                                properties:
                                  data:
                                    type: object
                                    properties:
                                      type:
                                        type: string
                                        example: candidates
                                      id:
                                        type: string
      operationId: getAccountsByAccountIdCandidatesByCandidateIdApplications
      x-operation-id-source: derived
  /accounts/{accountId}/vacancies:
    get:
      summary: Returns all Vacancies of an Account
      description: 'To obtain the list of Vacancies available for an Account, perform a `GET` operation to the `/accounts//vacancies` endpoint.

        To get the content in a specific language (if available), specify the language in the request header `Accept-Language`. More info about Accept-Language and locales. Please note that multiple language preferences are not supported, content language will be defined by the first language on the list.

        The language of the response content will be specified in the response header `Content-Language`. More info about Content-Language.

        ### Limiting results

        Optionally, to limit the scope of the results, you can use the following query parameters:

        - `filter[status]`

        - `filter[locations]`

        - `filter[regions]`

        - `filter[external_location_id]`

        - `filter[skip_aggregation]`


        For filtering by locations, regions and external location ID, comma separated values can be used. Ex: `?filter[locations]={ID1},{ID2}`

        #### Example query:

        To fetch all vacancies of account `5ab8845731e881343fa7458c` that have vacancies in status `draft`, you would call the following endpoint:


        curl -X GET \

        ''https://api.harver.com/api/v1.0/accounts/5ab8845731e881343fa7458c/vacancies?filter[status]=draft'' \

        -H ''Accept-Language: en'' \

        -H ''Authorization: Bearer ...''

        To fetch all vacancies of account `5ab8845731e881343fa7458c` that have vacancies in status `draft`, location ID `5c484fdece609b10529e1e3f` and in language `nl`, you would call the following endpoint:


        curl -X GET \

        ''https://api.harver.com/api/v1.0/accounts/5ab8845731e881343fa7458c/vacancies?filter[status]=draft&filter[locations]=5c484fdece609b10529e1e3f'' \

        -H ''Accept-Language: nl'' \

        -H ''Authorization: Bearer ...''


        #### Increasing Performance

        `filter[skip_aggregation]=true` will skip aggregating candidate count in a vacancy, resulting in a faster response'
      tags:
      - Accounts
      parameters:
      - in: path
        name: accountId
        schema:
          type: string
        required: true
        description: ID of the Account to consider
      - in: header
        name: Accept-Language
        schema:
          type: string
          enum:
          - en
          - nl
          - it
          - es
          - de
        description: Language to localize resource (if not provided, default to en)
      - in: query
        name: filter
        description: The Vacancy filter to apply
        schema:
          type: object
          properties:
            status:
              type: string
              enum:
              - draft
              - open
              - closed
            locations:
              type: string
            regions:
              type: string
            external_location_id:
              type: string
            skip_aggregation:
              type: string
              enum:
              - 'true'
              - 'false'
      responses:
        '200':
          description: An array of Vacancies
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                minProperties: 2
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      allOf:
                      - type: object
                        properties:
                          type:
                            type: string
                            example: vacancies
                          id:
                            type: string
                          attributes:
                            additionalProperties: false
                            required:
                            - name
                            - title
                            - description
                            - location
                            - createdAt
                            - applicationUrl
                            properties:
                              name:
                                type: string
                              title:
                                type: string
                              description:
                                type: string
                              location:
                                type: string
                              createdAt:
                                type: integer
                                format: int64
                              applicationUrl:
                                type: string
                          meta:
                            additionalProperties: false
                            required:
                            - candidates-per-status
                            properties:
                              candidates-per-status:
                                additionalProperties: false
                                required:
                                - new
                                - in-progress
                                - rejected
                                - invited
                                - talent-pool
                                - hired
                                - shortlisted
                                - contract
                                properties:
                                  new:
                                    type: integer
                                    format: int32
                                    minimum: 0
                                  in-progress:
                                    type: integer
                                    format: int32
                                    minimum: 0
                                  rejected:
                                    type: integer
                                    format: int32
                                    minimum: 0
                                  invited:
                                    type: integer
                                    format: int32
                                    minimum: 0
                                  talent-pool:
                                    type: integer
                                    format: int32
                                    minimum: 0
                                  hired:
                                    type: integer
                                    format: int32
                                    minimum: 0
                                  shortlisted:
                                    type: integer
                                    format: int32
                                    minimum: 0
                                  contract:
                                    type: integer
                                    format: int32
                                    minimum: 0
                  meta:
                    required:
                    - count
                    properties:
                      count:
                        type: integer
                        format: int32
                  relationships:
                    type: object
                    properties:
                      locations:
                        type: object
                        properties:
                          data:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  example: locations
                                id:
                                  type: string
                                attributes:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    externalLocationId:
                                      type: string
                                    jobFunctions:
                                      type: array
                                      items:
                                        type: string
                      regions:
                        type: object
                        properties:
                          data:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  example: regions
                                id:
                                  type: string
      operationId: getAccountsByAccountIdVacancies
      x-operation-id-source: derived
  /accounts/{accountId}/channels/{channelId}/vacancies:
    get:
      summary: Returns all vacancies of an Account in a specific Channel
      description: '## Retrieving relationship data

        To obtain the list of Vacancies available for a specific Channel, perform a `GET` operation to the `/accounts//channels//vacancies` endpoint.


        To get the content in a specific language (if available), specify the language in the request header `Accept-Language`. More info about Accept-Language and locales. Please note that multiple language preferences are not supported, content language will be defined by the first language on the list.

        The language of the response content will be specified in the response header `Content-Language`. More info about Content-Language.

        ### Limiting results

        Optionally, to limit the scope of the results, you can use the following query parameters:

        - `filter[status]`


        #### Example query:

        To fetch all vacancies of an Account in a specific Channel and in language `nl`, you would call the following endpoint:


        curl -X GET \

        ''https://api.harver.com/api/v1.0/accounts/{accountId}/channels/{channelName}/vacancies'' \

        -H ''Accept-Language: nl'' \

        -H ''Authorization: Bearer ...''


        To fetch all open Vacancies of the account `5ab8845731e881343fa7458c`, available for publishing in a specific channel in English (en), you would call the following endpoint:


        curl -X GET \

        ''https://api.harver.com/api/v1.0/accounts/5ab8845731e881343fa7458c/channels/{channelName}/vacancies?filter[status]=open'' \

        -H ''Accept-Language: en'' \

        -H ''Authorization: Bearer ...'''
      tags:
      - Accounts
      parameters:
      - in: path
        name: accountId
        schema:
          type: string
        required: true
        description: ID of the Account to consider
      - in: path
        name: channelId
        schema:
          type: string
        required: true
        description: string GUID of the Channel to consider
      - in: query
        name: filter
        description: The Vacancy filter to apply
        schema:
          type: object
          properties:
            status:
              type: string
              enum:
              - draft
              - open
              - closed
      - in: header
        name: Accept-Language
        schema:
          type: string
          enum:
          - en
          - nl
          - it
          - es
          - de
        description: Language to localize resource (if not provided, default to en)
      responses:
        '200':
          description: An array of Vacancies
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                minProperties: 2
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: vacancies
                        id:
                          type: string
                        attributes:
                          additionalProperties: false
                          required:
                          - name
                          - title
                          - description
                          - location
                          - createdAt
                          - applicationUrl
                          properties:
                            name:
                              type: string
                            title:
                              type: string
                            description:
                              type: string
                            location:
                              type: string
                            createdAt:
                              type: integer
                              format: int64
                            applicationUrl:
                              type: string
                        meta:
                          additionalProperties: false
                          minProperties: 2
                          properties:
                            candidates-per-status:
                              additionalProperties: false
                              required:
                              - new
                              - in-progress
                              - rejected
                              - invited
                              - talent-pool
                              - hired
                              - shortlisted
                              - contract
                              properties:
                                new:
                                  type: integer
                                  format: int32
                                  minimum: 0
                                in-progress:
                                  type: integer
                                  format: int32
                                  minimum: 0
                                rejected:
                                  type: integer
                                  format: int32
                                  minimum: 0
                                invited:
                                  type: integer
                                  format: int32
                                  minimum: 0
                                talent-pool:
                                  type: integer
                                  format: int32
                                  minimum: 0
                                hired:
                                  type: integer
                                  format: int32
                                  minimum: 0
                                shortlisted:
                                  type: integer
                                  format: int32
                                  minimum: 0
                                contract:
                                  type: integer
                                  format: int32
                                  minimum: 0
                            customAttributes:
                              additionalProperties: false
                              required:
                              - title
                              - description
                              properties:
                                title:
                                  type: string
                                description:
                                  type: string
                                Region:
                                  type: array
                                  items:
                                    type: string
                                Organization:
                                  type: array
                                  items:
                                    type: string
                                City:
                                  type: array
                                  items:
                                    type: string
                                Location:
                                  type: array
                                  items:
                                    type: string
                                Department:
                                  type: array
                                  items:
                                    type: string
                                Hours per week:
                                  type: array
                                  items:
                                    type: string
                                Contract type:
                                  type: array
                                  items:
                                    type: string
                  meta:
                    required:
                    - count
                    properties:
                      count:
                        type: integer
                        format: int32
      operationId: getAccountsByAccountIdChannelsByChannelIdVacancies
      x-operation-id-source: derived
  /accounts/{accountId}/location-specific-questions:
    get:
      summary: Returns all Location specific questions
      tags:
      - Accounts
      parameters:
      - in: path
        name: accountId
        schema:
          type: string
        required: true
        description: ID of the Account to consider
      responses:
        '200':
          description: List of Location specific questions
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - type
                      properties:
                        type:
                          type: string
                          enum:
                          - location-specific-questions
                        id:
                          type: string
                        attributes:
                          additionalProperties: false
                          required:
                          - text
                          properties:
                            text:
                              type: string
                        relationships:
                          additionalProperties: false
                          properties:
                            vacancy:
                              additionalProperties: false
                              properties:
                                data:
                                  required:
                                  - type
                                  - id
                                  properties:
                                    type:
                                      type: string
                                    id:
                                      type: string
      operationId: getAccountsByAccountIdLocationSpecificQuestions
      x-operation-id-source: derived
  /accounts/{accountId}/locations:
    get:
      summary: Returns all Locations of an Account
      description: Supports pagination with filter[limit] and filter[offset] parameters. When having these two filter parameters related to pagination, an extra object called 'meta' will be included in the body. This will include the count of all the available locations
      tags:
      - Accounts
      parameters:
      - in: path
        name: accountId
        schema:
          type: string
        required: true
        description: ID of the Account to consider
      - in: query
        name: filter
        description: The location pagination filters to apply
        schema:
          type: object
          properties:
            limit:
              type: string
            offset:
              type: string
      responses:
        '200':
          description: An array of Locations
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      properties:
                        type:
                          type: string
                          enum:
                          - locations
                        id:
                          type: string
                        attributes:
                          required:
                          - name
                          - address
                          - externalId
                          - hiringChance
                          - minHoursAvailability
                          - walkInTimes
                          properties:
                            name:
                              type: string
                            address:
                              type: string
                            addressDetails:
                              type: object
                              properties:
                                country:
                                  type: string
                                state:
                                  type: string
                                postalCode:
                                  type: string
                                city:
                                  type: string
                                street:
                                  type: string
                                streetNumber:
                                  type: string
                            email:
                              type:
                              - string
                              - 'null'
                            externalId:
                              type:
                              - string
                              - 'null'
                            hiringChance:
                              type: integer
                              format: int32
                            walkInTimems:
                              type: array
                              items:
                                properties:
                                  from:
                                    type: integer
                                    format: int64
                                  to:
                                    type: integer
                                    format: int64
                            isActive:
                              type: boolean
                        relationships:
                          required:
                          - region
                          - job-functions
                          - location-specific-questions
                          properties:
                            region:
                              additionalProperties: false
                              properties:
                                data:
                                  properties:
                                    type:
                                      type: string
                                      example: regions
                                    id:
                                      type: string
                            job-functions:
                              properties:
                                data:
                                  type: array
                                  items:
                                    properties:
                                      type:
                                        type: string
                                        example: job-functions
                                      id:
                                        type: string
                                      attributes:
                                        type: object
                                        properties:
                                          status:
                                            type: string
                                            enum:
                                            - open
                                            - closed
                            location-specific-questions:
                              properties:
                                data:
                                  type: array
                                  items:
                                    properties:
                                      type:
                                        type: string
                                        example: location-specific-questions
                                      id:
                                        type: string
                                      language:
                                        type: string
                                      attributes:
                                        type: object
                                        additionalProperties: false
                                        properties:
                                          question:
                                            type: string
                                          vacancy:
                                            type: string
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
      operationId: getAccountsByAccountIdLocations
      x-operation-id-source: derived
    post:
      summary: Create a Location
      description: 'Creates a location and sends the created location or all the locations in that account

        - `last_insert` : Can be `true` or `false`. When `true`, only the created location is sent. When `false` or the query param is not added, all the locations in the account are sent after creating the location'
      tags:
      - Accounts
      parameters:
      - in: path
        name: accountId
        schema:
          type: string
        required: true
        description: ID of the Account to consider
      - in: query
        name: last_insert
        description: Whether to send the created location or all the locations in the account. When the value is 'true', only the created location is sent
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      requestBody:
        description: Location object to be created
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - locations
                    attributes:
                      additionalProperties: false
                      required:
                      - name
                      - address
                      - email
                      - hiringChance
                      - minHoursAvailability
                      - walkInTimes
                      properties:
                        name:
                          type: string
                        address:
                          type: string
                        addressDetails:
                          type: object
                          properties:
                            country:
                              type: string
                            state:
                              type: string
                            postalCode:
                              type: string
                            city:
                              type: string
                            street:
                              type: string
                            streetNumber:
                              type: string
                        email:
                          type: string
                        externalId:
                          type: string
                        hiringChance:
                          type: integer
                          format: int32
                        walkInTimes:
                          type: array
                          items:
                            properties:
                              from:
                                type: integer
                                format: int64
                              to:
                                type: integer
                                format: int64
                              date:
                                additionalProperties: false
                                required:
                                - day
                                - month
                                - year
                                properties:
                                  day:
                                    type: number
                                  month:
                                    type: number
                                  year:
                                    type: number
                        isActive:
                          type: boolean
                    relationships:
                      additionalProperties: false
                      required:
                      - region
                      - job-functions
                      - location-specific-questions
                      properties:
                        region:
                          additionalProperties: false
                          properties:
                            data:
                              properties:
                                type:
                                  type: string
                                  example: regions
                                id:
                                  type: string
                        job-functions:
                          additionalProperties: false
                          properties:
                            data:
                              type: array
                              items:
                                properties:
                                  type:
                                    type: string
                                    example: job-functions
                                  id:
                                    type: string
                                  attributes:
                                    type: object
                                    properties:
                                      status:
                                        type: string
                                        enum:
                                        - open
                                        - closed
                        location-specific-questions:
                          additionalProperties: false
                          properties:
                            data:
                              type: array
                              items:
                                properties:
                                  type:
                                    type: string
                                    example: location-specific-questions
                                  id:
                                    type: string
                                  language:
                                    type: string
                                  attributes:
                                    type: object
                                    additionalProperties: false
                                    properties:
                                      question:
                                        type: string
                                      vacancy:
                                        type: string
      responses:
        '200':
          description: 'Created location or all the locations

            '
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  additionalProperties: false
                  required:
                  - data
                  properties:
                    data:
                      type: array
                      items:
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        properties:
                          type:
                            type: string
                            enum:
                            - locations
                          id:
                            type: string
                          attributes:
                            required:
                            - name
                            - address
                            - externalId
                            - hiringChance
                            - minHoursAvailability
                            - walkInTimes
                            properties:
                              name:
                                type: string
                              address:
                                type: string
                              addressDetails:
                                type: object
                                properties:
                                  country:
                                    type: string
                                  state:
                                    type: string
                                  postalCode:
                                    type: string
                                  city:
                                    type: string
                                  street:
                                    type: string
                                  streetNumber:
                                    type: string
                              email:
                                type:
                                - string
                                - 'null'
                              externalId:
                                type:
                                - string
                                - 'null'
                              hiringChance:
                                type: integer
                                format: int32
                              walkInTimems:
                                type: array
                                items:
                                  properties:
                                    from:
                                      type: integer
                                      format: int64
                                    to:
                                      type: integer
                                      format: int64
                              isActive:
                                type: boolean
                          relationships:
                            required:
                            - region
                            - job-functions
                            - location-specific-questions
                            properties:
                              region:
                                additionalProperties: false
                                properties:
                                  data:
                                    properties:
                                      type:
                                        type: string
                                        example: regions
                                      id:
                                        type: string
                              job-functions:
                                properties:
                                  data:
                                    type: array
                                    items:
                                      properties:
                                        type:
                                          type: string
                                          example: job-functions
                                        id:
                                          type: string
                                        attributes:
                                          type: object
                                          properties:
                                            status:
                                              type: string
                                              enum:
                                              - open
                                              - closed
                              location-specific-questions:
                                properties:
                                  data:
                                    type: array
                                    items:
                                      properties:
                                        type:
                                          type: string
                                          example: location-specific-questions
                                        id:
                                          type: string
                                        language:
                                          type: string
                                        attributes:
                                          type: object
                                          additionalProperties: false
                                          properties:
                                            question:
                                              type: string
                                            vacancy:
                                              type: string
                - type: object
                  additionalProperties: false
                  required:
                  - data
                  properties:
                    data:
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      properties:
                        type:
                          type: string
                          enum:
                          - locations
                        id:
                          type: string
                        attributes:
                          required:
                          - name
                          - address
                          - externalId
                          - hiringChance
                          - minHoursAvailability
                          - walkInTimes
                          properties:
                            name:
                              type: string
                            address:
                              type: string
                            addressDetails:
                              type: object
                              properties:
                                country:
                                  type: string
                                state:
                                  type: string
                                postalCode:
                                  type: string
                                city:
                                  type: string
                                street:
                                  type: string
                                streetNumber:
                                  type: string
                            email:
                              type:
                              - string
                              - 'null'
                            externalId:
                              type:
                              - string
                              - 'null'
                            hiringChance:
                              type: integer
                              format: int32
                            walkInTimems:
                              type: array
                              items:
                                properties:
                                  from:
                                    type: integer
                                    format: int64
                                  to:
                                    type: integer
                                    format: int64
                            isActive:
                              type: boolean
                        relationships:
                          required:
                          - region
                          - job-functions
                          - location-specific-questions
                          properties:
                            region:
                              additionalProperties: false
                              properties:
                                data:
                                  properties:
                                    type:
                                      type: string
                                      example: regions
                                    id:
                                      type: string
                            job-functions:
                              properties:
                                data:
                                  type: array
                                  items:
                                    properties:
                                      type:
                                        type: string
                                        example: job-functions
                                      id:
                                        type: string
                                      attributes:
                                        type: object
                                        properties:
                                          status:
                                            type: string
                                            enum:
                                            - open
                                            - closed
                            location-specific-questions:
                              properties:
                                data:
                                  type: array
                                  items:
                                    properties:
                                      type:
                                        type: string
                                        example: location-specific-questions
                                      id:
                                        type: string
                                      language:
                                        type: string
                                      attributes:
                                        type: object
                                        additionalProperties: false
                                        properties:
                                          question:
                                            type: string
                                          vacancy:
                                            type: string
      operationId: postAccountsByAccountIdLocations
      x-operation-id-source: derived
  /accounts/{accountId}/locations/{locationId}:
    get:
      summary: Return a location by location ID
      tags:
      - Accounts
      parameters:
      - in: path
        name: accountId
        schema:
          type: string
        required: true
        description: ID of the Account to consider
      - in: path
        name: locationId
        schema:
          type: string
        required: true
        description: ID of the Location to consider
      responses:
        '200':
          description: The requested location
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      properties:
                        type:
                          type: string
                          enum:
                          - locations
                        id:
                          type: string
                        attributes:
                          required:
                          - name
                          - address
                          - externalId
                          - hiringChance
                          - minHoursAvailability
                          - walkInTimes
                          properties:
                            name:
                              type: string
                            address:
                              type: string
                            addressDetails:
                              type: object
                              properties:
                                country:
                                  type: string
                                state:
                                  type: string
                                postalCode:
                                  type: string
                                city:
                                  type: string
                                street:
                                  type: string
                                streetNumber:
                                  type: string
                            email:
                              type:
                              - string
                              - 'null'
                            externalId:
                              type:
                              - string
                              - 'null'
                            hiringChance:
                              type: integer
                              format: int32
                            walkInTimems:
                              type: array
                              items:
                                properties:
                                  from:
                                    type: integer
                                    format: int64
                                  to:
                                    type: integer
                                    format: int64
                            isActive:
                              type: boolean
                        relationships:
                          required:
                          - region
                          - job-functions
                          - location-specific-questions
                          properties:
                            region:
                              additionalProperties: false
                              properties:
                                data:
                                  properties:
                                    type:
                                      type: string
                                      example: regions
                                    id:
                                      type: string
                            job-functions:
                              properties:
                                data:
                                  type: array
                                  items:
                                    properties:
                                      type:
                                        type: string
                                        example: job-functions
                                      id:
                                        type: string
                                      attributes:
                                        type: object
                                        properties:
                                          status:
                                            type: string
                                            enum:
                                            - open
                                            - closed
                            location-specific-questions:
                              properties:
                                data:
                                  type: array
                                  items:
                                    properties:
                                      type:
                                        type: string
                                        example: location-specific-questions
                                      id:
                                        type: string
                                      language:
                                        type: string
                                      attributes:
                                        type: object
                                        additionalProperties: false
                                        properties:
                                          question:
                                            type: string
                                          vacancy:
                                            type: string
      operationId: getAccountsByAccountIdLocationsByLocationId
      x-operation-id-source: derived
    patch:
      summary: Update a Location
      tags:
      - Accounts
      parameters:
      - in: path
        name: accountId
        schema:
          type: string
        required: true
        description: ID of the Account to consider
      - in: path
        name: locationId
        schema:
          type: string
        required: true
        description: ID of the Location to consider
      requestBody:
        description: Location object to be updated
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  required:
                  - id
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - locations
                    id:
                      type: string
                      enum:
                      - externalLocationId
                    attributes:
                      additionalProperties: false
                      required:
                      - name
                      - address
                      - email
                      - hiringChance
                      - minHoursAvailability
                      - walkInTimes
                      properties:
                        name:
                          type: string
                        address:
                          type: string
                        addressDetails:
                          type: object
                          properties:
                            country:
                              type: string
                            state:
                              type: string
                            postalCode:
                              type: string
                            city:
                              type: string
                            street:
                              type: string
                            streetNumber:
                              type: string
                        email:
                          type: string
                        hiringChance:
                          type: integer
                          format: int32
                        walkInTimes:
                          type: array
                          items:
                            properties:
                              from:
                                type: integer
                                format: int64
                              to:
                                type: integer
                                format: int64
                              date:
                                additionalProperties: false
                                required:
                                - day
                                - month
                                - year
                                properties:
                                  day:
                                    type: number
                                  month:
                                    type: number
                                  year:
                                    type: number
                        isActive:
                          type: boolean
                    relationships:
                      additionalProperties: false
                      required:
                      - region
                      - job-functions
                      - location-specific-questions
                      properties:
                        region:
                          additionalProperties: false
                          properties:
                            data:
                              properties:
                                type:
                                  type: string
                                  example: regions
                                id:
                                  type: string
                        job-functions:
                          additionalProperties: false
                          properties:
                            data:
                              type: array
                              items:
                                properties:
                                  type:
                                    type: string
                                    example: job-functions
                                  id:
                                    type: string
                                  attributes:
                                    type: object
                                    properties:
                                      status:
                                        type: string
                                        enum:
                                        - open
                                        - closed
                        location-specific-questions:
                          additionalProperties: false
                          properties:
                            data:
                              type: array
                              items:
                                properties:
                                  type:
                                    type: string
                                    example: location-specific-questions
                                  id:
                                    type: string
                                  language:
                                    type: string
                                  attributes:
                                    type: object
                                    additionalProperties: false
                                    properties:
                                      question:
                                        type: string
                                      vacancy:
                                        type: string
      responses:
        '200':
          description: The updated Location
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      properties:
                        type:
                          type: string
                          enum:
                          - locations
                        id:
                          type: string
                        attributes:
                          required:
                          - name
                          - address
                          - externalId
                          - hiringChance
                          - minHoursAvailability
                          - walkInTimes
                          properties:
                            name:
                              type: string
                            address:
                              type: string
                            addressDetails:
                              type: object
                              properties:
                                country:
                                  type: string
                                state:
                                  type: string
                                postalCode:
                                  type: string
                                city:
                                  type: string
                                street:
                                  type: string
                                streetNumber:
                                  type: string
                            email:
                              type:
                              - string
                              - 'null'
                            externalId:
                              type:
                              - string
                              - 'null'
                            hiringChance:
                              type: integer
                              format: int32
                            walkInTimems:
                              type: array
                              items:
                                properties:
                                  from:
                                    type: integer
                                    format: int64
                                  to:
                                    type: integer
                                    format: int64
                            isActive:
                              type: boolean
                        relationships:
                          required:
                          - region
                          - job-functions
                          - location-specific-questions
                          properties:
                            region:
                              additionalProperties: false
                              properties:
                                data:
                                  properties:
                                    type:
                                      type: string
                                      example: regions
                                    id:
                                      type: string
                            job-functions:
                              properties:
                                data:
                                  type: array
                                  items:
                                    properties:
                                      type:
                                        type: string
                                        example: job-functions
                                      id:
                                        type: string
                                      attributes:
                                        type: object
                                        properties:
                                          status:
                                            type: string
                                            enum:
                                            - open
                                            - closed
                            location-specific-questions:
                              properties:
                                data:
                                  type: array
                                  items:
                                    properties:
                                      type:
                                        type: string
                                        example: location-specific-questions
                                      id:
                                        type: string
                                      language:
                                        type: string
                                      attributes:
                                        type: object
                                        additionalProperties: false
                                        properties:
                                          question:
                                            type: string
                                          vacancy:
                                            type: string
      operationId: patchAccountsByAccountIdLocationsByLocationId
      x-operation-id-source: derived
  /accounts/{accountId}/locations/ext-{externalLocationId}:
    get:
      summary: Return a location by external location ID
      tags:
      - Accounts
      parameters:
      - in: path
        name: accountId
        schema:
          type: string
        required: true
        description: ID of the Account to consider
      - in: path
        name: externalLocationId
        schema:
          type: string
        required: true
        description: ID of the External Location to consider
      responses:
        '200':
          description: The requested location
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      properties:
                        type:
                          type: string
                          enum:
                          - locations
                        id:
                          type: string
                        attributes:
                          required:
                          - name
                          - address
                          - externalId
                          - hiringChance
                          - minHoursAvailability
                          - walkInTimes
                          properties:
                            name:
                              type: string
                            address:
                              type: string
                            addressDetails:
                              type: object
                              properties:
                                country:
                                  type: string
                                state:
                                  type: string
                                postalCode:
                                  type: string
                                city:
                                  type: string
                                street:
                                  type: string
                                streetNumber:
                                  type: string
                            email:
                              type:
                              - string
                              - 'null'
                            externalId:
                              type:
                              - string
                              - 'null'
                            hiringChance:
                              type: integer
                              format: int32
                            walkInTimems:
                              type: array
                              items:
                                properties:
                                  from:
                                    type: integer
                                    format: int64
                                  to:
                                    type: integer
                                    format: int64
                            isActive:
                              type: boolean
                        relationships:
                          required:
                          - region
                          - job-functions
                          - location-specific-questions
                          properties:
                            region:
                              additionalProperties: false
                              properties:
                                data:
                                  properties:
                                    type:
                                      type: string
                                      example: regions
                                    id:
                                      type: string
                            job-functions:
                              properties:
                                data:
                                  type: array
                                  items:
                                    properties:
                                      type:
                                        type: string
                                        example: job-functions
                                      id:
                                        type: string
                                      attributes:
                                        type: object
                                        properties:
                                          status:
                                            type: string
                                            enum:
                                            - open
                                            - closed
                            location-specific-questions:
                              properties:
                                data:
                                  type: array
                                  items:
                                    properties:
                                      type:
                                        type: string
                                        example: location-specific-questions
                                      id:
                                        type: string
                                      language:
                                        type: string
                                      attributes:
                                        type: object
                                        additionalProperties: false
                                        properties:
                                          question:
                                            type: string
                                          vacancy:
                                            type: string
      operationId: getAccountsByAccountIdLocationsExt{externalLocationId}
      x-operation-id-source: derived
    patch:
      summary: Update a Location based on external location
      tags:
      - Accounts
      parameters:
      - in: path
        name: accountId
        schema:
          type: string
        required: true
        description: ID of the Account to consider
      - in: path
        name: externalLocationId
        schema:
          type: string
        required: true
        description: ID of the External Location to consider
      requestBody:
        description: Location object to be updated
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  required:
                  - id
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - locations
                    id:
                      type: string
                      enum:
                      - externalLocationId
                    attributes:
                      additionalProperties: false
                      required:
                      - name
                      - address
                      - email
                      - hiringChance
                      - minHoursAvailability
                      - walkInTimes
                      properties:
                        name:
                          type: string
                        address:
                          type: string
                        addressDetails:
                          type: object
                          properties:
                            country:
                              type: string
                            state:
                              type: string
                            postalCode:
                              type: string
                            city:
                              type: string
                            street:
                              type: string
                            streetNumber:
                              type: string
                        email:
                          type: string
                        hiringChance:
                          type: integer
                          format: int32
                        walkInTimes:
                          type: array
                          items:
                            properties:
                              from:
                                type: integer
                                format: int64
                              to:
                                type: integer
                                format: int64
                              date:
                                additionalProperties: false
                                required:
                                - day
                                - month
                                - year
                                properties:
                                  day:
                                    type: number
                                  month:
                                    type: number
                                  year:
                                    type: number
                        isActive:
                          type: boolean
                    relationships:
                      additionalProperties: false
                      required:
                      - region
                      - job-functions
                      - location-specific-questions
                      properties:
                        region:
                          additionalProperties: false
                          properties:
                            data:
                              properties:
                                type:
                                  type: string
                                  example: regions
                                id:
                                  type: string
                        job-functions:
                          additionalProperties: false
                          properties:
                            data:
                              type: array
                              items:
                                properties:
                                  type:
                                    type: string
                                    example: job-functions
                                  id:
                                    type: string
                                  attributes:
                                    type: object
                                    properties:
                                      status:
                                        type: string
                                        enum:
                                        - open
                                        - closed
                        location-specific-questions:
                          additionalProperties: false
                          properties:
                            data:
                              type: array
                              items:
                                properties:
                                  type:
                                    type: string
                                    example: location-specific-questions
                                  id:
                                    type: string
                                  language:
                                    type: string
                                  attributes:
                                    type: object
                                    additionalProperties: false
                                    properties:
                                      question:
                                        type: string
                                      vacancy:
                                        type: string
      responses:
        '204':
          description: Location updated
      operationId: patchAccountsByAccountIdLocationsExt{externalLocationId}
      x-operation-id-source: derived
  /accounts/{accountId}/regions:
    get:
      summary: Returns all Regions
      tags:
      - Accounts
      parameters:
      - in: path
        name: accountId
        schema:
          type: string
        required: true
        description: ID of the Account to consider
      responses:
        '200':
          description: List of Regions
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - type
                      properties:
                        type:
                          type: string
                          enum:
                          - regions
                        id:
                          type: string
                        attributes:
                          additionalProperties: false
                          required:
                          - name
                          properties:
                            name:
                              type: string
      operationId: getAccountsByAccountIdRegions
      x-operation-id-source: derived
    post:
      summary: Create a new Region in an Account
      tags:
      - Accounts
      parameters:
      - in: path
        name: accountId
        schema:
          type: string
        required: true
        description: ID of the Account to consider
      requestBody:
        description: Region that needs to be added to the Account
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - regions
                    attributes:
                      properties:
                        name:
                          type: string
      responses:
        '200':
          description: The created Region's name and ID
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        example: regions
                      id:
                        type: string
                      attributes:
                        additionalProperties: false
                        properties:
                          name:
                            type: string
      operationId: postAccountsByAccountIdRegions
      x-operation-id-source: derived
  /accounts/{accountId}/regions/{regionId}:
    patch:
      summary: Update a Region in an Account
      tags:
      - Accounts
      parameters:
      - in: path
        name: accountId
        schema:
          type: string
        required: true
        description: ID of the Account to consider
      - in: path
        name: regionId
        schema:
          type: string
        required: true
        description: ID of the Region to consider
      requestBody:
        description: Region that needs to be updated in the Account
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  required:
                  - type
                  - id
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - regions
                    id:
                      type: string
                    attributes:
                      properties:
                        name:
                          type: string
      responses:
        '200':
          description: The updated Region's name and ID
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        example: regions
                      id:
                        type: string
                      attributes:
                        additionalProperties: false
                        properties:
                          name:
                            type: string
      operationId: patchAccountsByAccountIdRegionsByRegionId
      x-operation-id-source: derived
  /accounts/{accountId}/users/{userProfileId}:
    get:
      summary: Returns location information and the attributes of a User in an Account
      description: '#### Supported includes:

        - `location`

        - `region`


        #### Example query:


        curl -X GET \

        ''https://api.harver.com/api/v1.0/accounts/{accountId}/users/{userId}?include=locations,regions'' \

        -H ''Authorization: Bearer ...'''
      tags:
      - Accounts
      parameters:
      - in: path
        name: accountId
        schema:
          type: string
        required: true
        description: ID of the Account to consider
      - in: path
        name: userProfileId
        schema:
          type: string
        required: true
        description: ID of userProfile
      responses:
        '200':
          description: An object of Account user information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    properties:
                      type:
                        type: string
                        example: account-users
                      id:
                        type: string
                      attributes:
                        properties:
                          role:
                            type: string
                            enum:
                            - super-user
                            - account-admin
                            - recruiter
                          candidatesPiiAllowed:
                            type: boolean
                          createdAt:
                            type: integer
                            format: int64
                      relationships:
                        additionalProperties: false
                        properties:
                          account:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    example: accounts
                                  id:
                                    type: string
                          locations:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  properties:
                                    type:
                                      type: string
                                      example: locations
                                    id:
                                      type: string
                          regions:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  properties:
                                    type:
                                      type: string
                                      example: regions
                                    id:
                                      type: string
                  included:
                    type: array
                    items:
                      allOf:
                      - required:
                        - id
                        - type
                        - attributes
                        - relationships
                        properties:
                          type:
                            type: string
                            enum:
                            - locations
                          id:
                            type: string
                          attributes:
                            additionalProperties: false
                            required:
                            - name
                            - address
                            - email
                            - hiringChance
                            - minHoursAvailability
                            - walkInTimes
                            properties:
                              name:
                                type: string
                              address:
                                type: string
                              email:
                                type: string
                              hiringChance:
                                type: integer
                                format: int32
                              walkInTimems:
                                type: array
                                items:
                                  properties:
                                    from:
                                      type: integer
                                      format: int64
                                    to:
                                      type: integer
                                      format: int64
                      - type: object
                        properties:
                          type:
                            type: string
                            example: regions
                          id:
                            type: string
                          attributes:
                            additionalProperties: false
                            properties:
                              name:
                                type: string
      operationId: getAccountsByAccountIdUsersByUserProfileId
      x-operation-id-source: derived
  /accounts/{accountId}/job-functions:
    get:
      summary: Returns all Job functions in an Account
      tags:
      - Accounts
      parameters:
      - in: path
        name: accountId
        schema:
          type: string
        required: true
        description: ID of the Account to consider
      responses:
        '200':
          description: An array of Job functions
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                minProperties: 1
                properties:
                  data:
                    type: array
                    items:
                      properties:
                        type:
                          type: string
                          example: job-functions
                        id:
                          type: string
                        attributes:
                          properties:
                            title:
                              type: string
                            description:
                              type: string
                            minAge:
                              type: integer
                              format: int32
      operationId: getAccountsByAccountIdJobFunctions
      x-operation-id-source: derived
    post:
      summary: Create a new Job Function in an Account
      tags:
      - Accounts
      parameters:
      - in: path
        name: accountId
        schema:
          type: string
        required: true
        description: ID of the Account to consider
      requestBody:
        description: Job function that needs to be added to the Account
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - data
              properties:
                data:
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - job-functions
                    attributes:
                      properties:
                        title:
                          type: string
                        description:
                          type: string
                        minAge:
                          type: number
                        image:
                          type: object
                          properties:
                            key:
                              type: string
                            placeHolder:
                              type: string
                            value:
                              type: string
      responses:
        '200':
          description: The created Job Function's name and ID
          content:
            application/json:
              schema:
[...]
